<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Notification</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="acunt_login_part">
        <div class="container">
            <div class="blue_section inner_section">
            </div>
        </div>
        <div class="form_login p-0" *ngIf="!showerror">
            <div class="radius_part notifi_page p-0">
                <ul class="notifiction_detail">
                    <li [class.active]="item.is_read == 0" *ngFor="let item of notificationList.data">
                        <span>{{item.time}}</span>
                        <p>{{item.message}}</p>
                    </li>
                    <li class="active data_not_found" *ngIf="notificationList.data?.length == 0">
                        <ion-label color="danger">{{notificationList.msg}}</ion-label>
                    </li>
                </ul>
            </div>
        </div>
        <div *ngIf="showerror" class="showerror">
            <span> No Record Found
            </span>
        </div>
    </div>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
</ion-content>