ul.notifiction_detail li p {
    line-height: 26px;
    margin: 7px 0 0 0;
}

ul.notifiction_detail li {
    opacity: 0.5;
    &.active {
        opacity: 1;
    }
}

.data_not_found ion-label {
    font-size: 14px;
    font-family: "Conv_SF-Pro-Display-Medium";
}