<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" *ngIf="isLogin; else other">
            <ion-menu-button></ion-menu-button>
            
        </ion-buttons>
        <ng-template #other>
            <ion-buttons routerLink="/home" class="back_btn" slot="start">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-buttons>
        </ng-template>
        <ion-title>FAQ</ion-title>
        <ion-buttons routerLink="/dashboard" class="back_btn backiflogin " slot="end" *ngIf="isLogin">
            <ion-icon name="arrow-back"></ion-icon>
          </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="acunt_login_part">
        <div class="container">
            <div class="blue_section inner_section">
            </div>
        </div>
        <div class="form_login faq">
            <div class="ion-margin-top">
                <accordion [showArrows]="true">
                    <accordion-group *ngFor="let item of faqList" heading="{{item.category.name}}">
                        <ul class="faqslist">
                            <li *ngFor="let qa of item.category.value">
                                <h5>Q. {{qa.question}}</h5>
                                <p>Ans. {{qa.answer}}</p>
                            </li>
                        </ul>
                    </accordion-group>
                </accordion>
            </div>
        </div>
        </div>
</ion-content>