.faq {
    input:checked+.tab-label {
        color: #000;
        background: #1553b5;
    }
    input:checked~.tab-content {
        max-height: 100vh;
        padding: 1em;
        position: relative;
        background: #1553b5;
    }
}

.faqslist {
    list-style: none;
    margin: 0;
    padding: 0;
    h5 {
        margin-bottom: 8px;
        font-weight: 700;
    }
    p {
        padding-top: 0;
    }
}