<ion-content>
  <div class="acunt_login_part">
    <div class="container">
      <div class="blue_section">
        <div class="top_head_visit">
          
            <ion-button href="https://www.accreditloan.com/">
              Visit Our Website
            </ion-button>
        </div>

        <div class="account_login_section">
          <div class="power_by">
            <p><img src="assets/myinfo.jpg" alt=""></p>
          </div>
          <div class="acnt_text">Login to MyInfo</div>
        </div>
      </div>
    </div>
    <div class="form_login">
      <form action="" class="acnt_login">
        <ion-list class="form_list" lines="none">
          <ion-item>
            <div class="item_center">
              <ion-label position="floating">UEN/NRIC No.</ion-label>
            </div>
            <ion-input></ion-input>
          </ion-item>
          <ion-item class="mb-0">
            <div class="item_center">
              <ion-label position="floating">Password</ion-label>
            </div>
            <ion-input type="password"></ion-input>
          </ion-item>
        </ion-list>
        <p class="forgot_text"><a class="tdn" routerLink=".">Forgot Password ?</a></p>
        <div class="form-group mb-0">
          <ion-button routerLink="/signup/individual-step" shape="round" color="success" expand="block"> Login  </ion-button>
        </div>
      </form>
    </div>
  </div>


</ion-content>