.top_head_visit {
  ion-button {
    --background: transparent;
    border: 1px solid #fff;
    max-height: 40px;
    font-size: 16px;
    font-family: "Conv_SF-Pro-Display-Regular";
    letter-spacing: 1px;
  }
}

.item-has-focus {
  --highlight-color-focused: transparent !important;
  --highlight-height: 0 !important;
}
.power_by {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Conv_CircularStd-Black";
  font-size: 20px;
  margin-top: 14px;
  p {
    margin: 0;
    background: #fff;
    padding: 10px;
    border-radius: 35px;
    min-width: 175px;
    text-align: center;
    line-height: 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    img {
      max-width: 100px;
    }
  }
}
