.account_login_section {
    padding: 20px 16px 0 16px;
    p {
        span {
            font-family: "Conv_SF-Pro-Display-Medium";
        }
    }
}

.verification {
    .form_login {
        max-width: 250px;
        margin: 0 auto;
        text-align: center;
        ion-list {
            display: flex;
            margin-bottom: 0;
            ion-item {
                --padding-start: 0;
                margin-right: -8px;
            }
        }
        ion-item ion-input {
            --padding-start: 0 !important;
            border: 1px solid #ddd !important;
            --padding-top: 8px !important;
            --padding-bottom: 8px !important;
            border-radius: 5px !important;
            height: 55px;
            padding-left: 10px !important;
            padding-right: 10px !important;
            padding-inline-end: 0 !important;
        }
        margin-bottom: 15px;
    }
    .blue_section {
        padding-bottom: 38px;
    }
}