
<ion-content>
    <div class="acunt_login_part verification">
        <div class="container">
            <div class="blue_section">
                    <ion-buttons routerLink="/app-login" class="back_btn padding10" slot="start" >
                        <ion-icon name="arrow-back"></ion-icon>
                    </ion-buttons>
                <div class="account_login_section">
                    <div class="acnt_image"><img src="assets/verification.svg" alt="" /></div>
                    <div class="acnt_text">Enter Verification Code</div>
                    <p>Please enter the verification code sent to <br />+65 {{mobileNumber.mobile}}</p>
                </div>
            </div>
        </div>
        <div class="form_login">
            <form [formGroup]="otpVerificatin" (ngSubmit)="doLogin()" class="acnt_login">
                <ion-list lines="none">
                    <ion-item>
                        <ion-input #otp1 formControlName="otpVal1" maxLength="1" (keyup)="otpAction($event,otp2,'')" type="tel"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input #otp2 formControlName="otpVal2" maxLength="1" (keyup)="otpAction($event,otp3,otp1)" type="tel"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input #otp3 formControlName="otpVal3" maxLength="1" (keyup)="otpAction($event,otp4,otp2)" type="tel"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input #otp4 formControlName="otpVal4" maxLength="1" (keyup)="otpAction($event,'',otp3)" type="tel"></ion-input>
                    </ion-item>
                </ion-list>
                <div class="form-group mb-0">
                    <ion-button [disabled]="otpVerificatin.invalid" shape="round" color="success" type="submit" expand="block"> Submit </ion-button>
                    <p class="signUp_text">I didn't recieve the code <br>
                        <a (click)="resendOtp()">Please Resend</a></p>
                </div>
            </form>
        </div>
    </div>


</ion-content>