<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
     
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="acunt_login_part">
    <div class="container">
      <div class="blue_section inner_section">
      </div>
    </div>
    <!--   | slice:start:end -->
    <div class="form_login">
      <p *ngFor="let item of content" [innerHTML]="item.content"></p>
    </div>
  </div>
</ion-content>