<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Payment Code</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="acunt_login_part">
        <div class="container">
            <div class="blue_section inner_section">
            </div>
        </div>
        <div class="form_login ion-text-center">
            <h4>Scan the QR Code for Payments</h4>
            <div class="qr_frame">
                <img src="/assets/qr_frame.svg" alt="">
                <img class="qr_code" src="{{qrCode.url}}" alt="">
            </div>
            <p>Hold the camera on your iPhone or Android smartphone to scan this QR code</p>
            <ion-button (click)="downloadDoc(qrCode)" shape="round" color="success">
                Download QR Code
            </ion-button>
        </div>
    </div>
</ion-content>