p {
    color: #6d6c6c;
    line-height: 28px;
}

.qr_frame {
    margin: 22px 0 10px;
    position: relative;
    .qr_code {
        position: absolute;
        top: -24px;
        left: 0;
        bottom: 0;
        right: 0;
        width: 140px;
        margin: auto;
    }
}