<ion-content>
    <div class="acunt_login_part">
        <div class="container">
            <div class="blue_section">
                    <ion-buttons routerLink="/app-login" class="back_btn padding10 " slot="start" >
                        <ion-icon name="arrow-back"></ion-icon>
                     </ion-buttons>
                     
                <div class="top_head_visit">
                        <ion-button href="https://www.accreditloan.com/">
                            Visit Our Website
                          </ion-button>
                </div>
                <div class="account_login_section">
                    <div class="acnt_image"><img src="assets/account_login_icon.svg" alt="" /></div>
                    <div class="acnt_text">Forgot Your Password?</div>
                    <p class="ion-padding-horizontal">Enter your registered email below to recive your password reset instruction</p>
                </div>
            </div>
        </div>
        <div class="form_login">
            <form [formGroup]="loginForm" (ngSubmit)="doLogin()" class="acnt_login">
                <ion-list class="form_list" lines="none">
                    <ion-item>
                        <div class="item_center">
                            <ion-label position="floating">Email ID</ion-label>
                        </div>
                        <ion-input formControlName="email" type="email"></ion-input>
                    </ion-item>
                </ion-list>
                <div class="form-group mb-0">
                    <ion-button type="submit" [disabled]="loginForm.invalid" shape="round" color="success" expand="block">
                        Send reset instructions
                    </ion-button>
                    <p class="signUp_text">If you already have an account, <a class="tdn" routerLink="/app-login">Login</a> now</p>
                </div>
            </form>
        </div>
    </div>
</ion-content>