.details {
    background: #F6F6F6;
    width: 100%;
    padding: 4px 20px;
    border-radius: 8px;
    p {
        opacity: .8;
        span {
            min-width: 150px;
            display: inline-block;
        }
        &:first-child {
            font-weight: 600;
            opacity: 1;
        }
    }
}

ion-range {
    --bar-height: 5px;
    --knob-size: 25px;
}

ion-list-header {
    -webkit-box-pack: center;
    justify-content: center;
    padding-left: 0;
    font-size: 18px;
    &._mb {
        margin-bottom: -15px;
    }
}