<ion-header>
    <ion-toolbar>
            <ion-buttons slot="start" *ngIf="isLogin; else other">
                    <ion-menu-button></ion-menu-button>
                    
        </ion-buttons>
       
        <ng-template #other>
            <ion-buttons routerLink="/home" class="back_btn" slot="start">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-buttons>
        </ng-template>
        <ion-title>Loan Calculator</ion-title>
        <ion-buttons routerLink="/dashboard" class="back_btn backiflogin " slot="end" *ngIf="isLogin">
            <ion-icon name="arrow-back"></ion-icon>
          </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="acunt_login_part">
        <div class="container">
            <div class="blue_section inner_section">
            </div>
        </div>
        <div class="form_login">
            <form class="acnt_login">
                <ion-list class="form_list" lines="none">
                    <ion-list-header class="ion-text-center">
                        <ion-label>Loan Amount ( $ )</ion-label>
                    </ion-list-header>
                    <ion-item>
                        <ion-input name="amount" (ngModelChange)="amountChange($event)" [(ngModel)]="principal" type="number"></ion-input>
                    </ion-item>
                    <ion-list-header class="_mb">
                        <ion-label>Tenure (months)</ion-label>
                    </ion-list-header>
                    <ion-item>
                        <ion-range min="1" max="12" name="tenure" [(ngModel)]="tenure" pin="true" (ionChange)="changeTenure($event)" step="1" snaps="true" color="secondary"></ion-range>
                    </ion-item>
                    <ion-list-header class="_mb">
                        <ion-label>Interest</ion-label>
                    </ion-list-header>
                   
                    <ion-item>
                        <ion-range min="0.5" name="int" pin (ionChange)="changeInterest($event)" [(ngModel)]="interesttoshow" max="4" step="0.5" snaps="true" color="secondary"></ion-range>
                    </ion-item>
                    <ion-item style="height: auto;">
                        <div class="details">
                            <p><span>Total to Repay</span> ${{grandTotal | number : '1.2-2'}}</p>
                            <!--<p><span>Total to Repay</span> 
                                {{grandTotal |currency}}</p>-->
                            <p><span>Period (Months)</span> {{tenure}}</p>
                            <p><span>Interest </span> {{interesttoshow | number : '1.2-2'}}%</p>
                         <!--    <p><span>Interest (Yearly)</span> {{interest}}%</p> -->
                            
                        </div>
                    </ion-item>
                </ion-list>
            </form>
        </div>
    </div>

</ion-content>