<ion-header>
    <ion-toolbar>
        <ion-buttons routerLink="/individual-applay-loan/step1" class="back_btn" slot="start">
            <ion-icon name="arrow-back"></ion-icon>
        </ion-buttons>
        <ion-title>Apply Loan</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="acunt_login_part">
        <div class="container">
            <div class="blue_section inner_section">
            </div>
        </div>
        <!--   | slice:start:end -->
        <div class="form_login">
            <h4 class="ion-text-center mb-0">Employment Information</h4>
            <form class="acnt_login" #f="ngForm">
                <ion-list class="form_list" lines="none">
                    <ng-container *ngFor="let item of formFieldsList | slice:start:end" [ngSwitch]="item.type">

                        <ion-item *ngSwitchCase="'text'" class="clearfix">
                            <div class="item_center resi_adrs">
                                <p *ngIf="item.slug == 'residential_address_one'" class="fixed_label">Residential
                                    Address (Singapore)</p>
                                <p *ngIf="item.slug == 'office_address_one'" class="fixed_label">Office Address (in
                                    Singapore)</p>
                                <ion-label position="floating">{{item.title}}</ion-label>
                            </div>

                            <ion-input name="{{item.slug}}" (keyup)="checknumber(item.modal,item.slug)"
                                [(ngModel)]="item.modal" type="text" [required]="item.is_required"></ion-input>
                        </ion-item>
                        <p class="ps_notmatched" *ngIf="!isValidofficenumber && item.slug == 'office_number'">Office
                            Number is not valid</p>
                        <ion-item *ngSwitchCase="'number'">
                            <div class="item_center">
                                <ion-label position="floating">{{item.title}}</ion-label>
                            </div>
                            <ion-input name="{{item.slug}}" [(ngModel)]="item.modal" type="number"
                                [required]="item.is_required"></ion-input>
                        </ion-item>

                        <ion-item *ngSwitchCase="'email'">
                            <div class="item_center">
                                <ion-label position="floating">{{item.title}}</ion-label>
                            </div>
                            <ion-input name="{{item.slug}}" [(ngModel)]="item.modal" type="email"
                                [required]="item.is_required"></ion-input>
                        </ion-item>
                        <div *ngSwitchCase="'dropdown'">
                            <ion-item class="sub_heading _m" *ngIf="item.slug == 'length_of_current_employment_years'">
                                <div>
                                    Length of Current Employment
                                </div>
                            </ion-item>
                        </div>
                        <div *ngSwitchCase="'dropdown'">
                            <ion-item class="select_box" *ngSwitchCase="'dropdown'"
                                [class.col-6]="item.slug == 'length_of_current_employment_years' || item.slug == 'length_of_current_employment_months'">
                                <div class="d_box">
                                    <div class="item_center">
                                        <ion-label position="floating">{{item.title}}</ion-label>
                                    </div>

                                    <ion-select name="{{item.title}}" [(ngModel)]="item.modal"
                                        [required]="item.is_required">
                                        <ion-select-option *ngFor="let list of item.value" [value]="list.id">
                                            {{list.name}}
                                        </ion-select-option>
                                    </ion-select>
                                </div>
                            </ion-item>
                            <ion-item class="sub_heading _m" *ngIf="item.slug != 'length_of_current_employment_years'">

                            </ion-item>
                        </div>
                        <!-- <div *ngSwitchCase="'dropdown'" class="new_div">
                            <ion-item class="sub_heading _m" *ngIf="item.slug == 'length_of_current_employment_years'">
                                <div>
                                    Length of Current Employment
                                </div>
                            </ion-item>
                            <ion-item class="select_box" [class.col-6]="item.slug == 'length_of_current_employment_years' || item.slug == 'length_of_current_employment_months'">
                                <div class="d_box">
                                    <div class="item_center">
                                        <ion-label position="floating">{{item.title}}</ion-label>
                                    </div>
                                    <ion-select name="{{item.title}}" [(ngModel)]="item.modal" [required]="item.is_required">
                                        <ion-select-option *ngFor="let list of item.value" [value]="list.id">{{list.name}}
                                        </ion-select-option>
                                    </ion-select>
                                </div>
                            </ion-item>
                        </div> -->
                        <ion-item *ngSwitchCase="'date'" class="date_picker">
                            <div class="item_center">
                                <ion-label position="floating">{{item.title}}</ion-label>
                            </div>
                            <!-- <img src="assets/input_clndr_icon.svg">
                            <ion-input name="{{item.slug}}" (ionFocus)="openDatePicker(item.title)"
                                [(ngModel)]="item.modal" [required]="item.is_required"></ion-input> -->
                                <ion-datetime [(ngModel)]="item.modal" name="dob" displayFormat="DD-MM-YYYY"  max="{{today2}}"  [required]="item.is_required"></ion-datetime>

                        </ion-item>
                    </ng-container>
                </ion-list>
                <!--  [disabled]="f.invalid" -->
                <div class="form-group mb-0" *ngIf="formFieldsList?.length > 0">
                    <ion-grid class="p-0">
                        <ion-row>
                            <ion-col class="pl-0">
                                <ion-button (click)="saveDarft()" [disabled]="f.invalid || !isValidofficenumber"
                                    shape="round" expand="block" color="success">Save as draft
                                </ion-button>
                            </ion-col>
                            <ion-col class="pr-0" *ngIf="(formFieldsList?.length - 1) > end">
                                <ion-button (click)="next()" [disabled]="f.invalid || !isValidofficenumber"
                                    shape="round" expand="block" color="success">Next
                                </ion-button>
                            </ion-col>
                            <ion-col class="pr-0" *ngIf="(formFieldsList?.length - 1) < end">
                                <ion-button (click)="applyLoan()" [disabled]="f.invalid || !isValidofficenumber"
                                    shape="round" expand="block" color="success">Submit
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </form>
        </div>
    </div>
</ion-content>