<ion-content>
    <div class="form_login" style="margin: 0;">
        <h4 class="ion-text-center mb-0">Request SOA</h4>
        <form (ngSubmit)="getPDF()" class="acnt_login" #f="ngForm">
            <ion-list class="form_list" lines="none">
                <ion-item class="date_picker">
                    <div class="item_center">
                        <ion-label position="floating">From </ion-label>
                    </div>
                    <img src="assets/input_clndr_icon.svg">
                    <ion-input name="date_from"  (ionFocus)="openDatePickerfrom()" [(ngModel)]="gPdf.date_from"  required></ion-input>
                   <!--  <ion-datetime [(ngModel)]="gPdf.date_from" name="date_from" displayFormat="MM-DD-YYYY" min="2015-03-14" max="2020-12-09" required></ion-datetime> -->
                </ion-item>
                <ion-item class="date_picker">
                    <div class="item_center">
                        <ion-label position="floating">To</ion-label>
                    </div>
                    <img src="assets/input_clndr_icon.svg">
                 
                    <ion-input name="date_to"  (ionFocus)="openDatePickerto()" [(ngModel)]="gPdf.date_to"  required></ion-input>
                    <!-- <ion-datetime [(ngModel)]="gPdf.date_to" name="date_to" displayFormat="MM-DD-YYYY" min="{{gPdf.date_from}}" max="2020-12-09" required></ion-datetime>
               -->  </ion-item>
            </ion-list>
            <!--  [disabled]="f.invalid" -->
            <ion-label *ngIf="isRecord" class="no_data" color="danger">Record not found</ion-label>
            <div class="form-group mb-0">
                <ion-button shape="round" [disabled]="f.invalid" type="submit" expand="block" color="success">Generate PDF
                </ion-button>
            </div>
        </form>
    </div>
</ion-content>