<ion-header>
    <ion-toolbar>
        <ion-buttons *ngIf="isLogin; else other" slot="start">
            <ion-menu-button></ion-menu-button>
     
        </ion-buttons>
        <ng-template #other>
            <ion-buttons routerLink="/home" class="back_btn" slot="start">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-buttons>
        </ng-template>
        <ion-title>Contact Us</ion-title>
        <ion-buttons routerLink="/dashboard" class="back_btn backiflogin " slot="end" *ngIf="isLogin">
            <ion-icon name="arrow-back"></ion-icon>
          </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    
    <div class="acunt_login_part">
        <div class="container">
            <div class="blue_section inner_section">
            </div>
        </div>
        <div class="form_login p-0">
            <div class="radius_part address_cntct pb-0">
                <ul class="notifiction_detail">
                    <li>
                        <h4>Accredit @ Tampines {{token}}</h4>
                        <div class="adress_section">
                            <div>
                                <span class="icons mt-6"><img src="/assets/locate_icon.svg" alt="" /></span>
                                <span>503 Tampines Central 1, #01-315, <br> Singapore 520503</span>
                            </div>
                            <div>
                                    <span class="icons"><img src="/assets/mail_icon.svg" alt="" /></span>
                                    <a tappable href="mailto:tampines@accreditloan.com">tampines@accreditloan.com</a>
                            </div>
                            <div>
                                <span class="icons"><img src="/assets/call_icon.svg" alt="" /></span>
                                <a tappable href="tel:6226 2662">6226 2662</a>
                            </div>
                            <div>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15954.807955061333!2d103.944731!3d1.355401!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd688ae536674b235!2sAccredit%20Licensed%20Money%20Lender%20Tampines%20%7C%20Personal%20Loan%20Singapore!5e0!3m2!1sen!2sin!4v1574745086816!5m2!1sen!2sin"
                                    frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                                <!-- <span class="icons"><img src="/assets/mail_icon.svg" alt="" /></span>
                                <span><a href="mailto:Info@accredit.com">Info@accredit.com</a></span> -->
                            </div>
                        </div>
                    </li>
                    <li>
                        <h4>Accredit @ Hougang</h4>
                        <div class="adress_section">
                            <div>
                                <span class="icons mt-6"><img src="/assets/locate_icon.svg" alt="" /></span>
                                <span>1187 Upper Serangoon Rd, #01-15 The Midtown, <br> Singapore 533971</span>
                            </div>
                            <div>
                                    <span class="icons"><img src="/assets/mail_icon.svg" alt="" /></span>
                                    <a tappable href="mailto:hougang@accreditloan.com">hougang@accreditloan.com</a>
                            </div>
                            <div>
                                <span class="icons"><img src="/assets/call_icon.svg" alt="" /></span>
                                <a tappable href="tel:6245 2662">6245 2662</a>
                            </div>
                            <div>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7977.354299414706!2d103.894915!3d1.370398!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8b6120042283e8df!2sAccredit%20Licensed%20Money%20Lender%20Hougang%20%7C%20Personal%20Loan%20Singapore!5e0!3m2!1sen!2sin!4v1574745662711!5m2!1sen!2sin"
                                    frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                            </div>
                        </div>
                    </li>
                    <li>
                        <h4>Accredit @ Tiong Bahru</h4>
                        <div class="adress_section">
                            <div>
                                <span class="icons mt-6"><img src="/assets/locate_icon.svg" alt="" /></span>
                                <span>18 Jalan Membina, #01-04, <br> Singapore 164018</span>
                            </div>
                            
                            <div>
                                    <span class="icons"><img src="/assets/mail_icon.svg" alt="" /></span>
                                    <a tappable href="mailto:tiongbahru@accreditloan.com">tiongbahru@accreditloan.com</a>
                            </div>
                            <div>
                                <span class="icons"><img src="/assets/call_icon.svg" alt="" /></span>
                                <a tappable href="tel:6261 2662">6261 2662</a>
                            </div>
                            <div>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d31910.513828748426!2d103.826789!3d1.285455!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xedd6df1d9331042d!2sAccredit%20Licensed%20Money%20Lender%20Tiong%20Bahru%20%7C%20Personal%20Loan%20Singapore!5e0!3m2!1sen!2sin!4v1574745719946!5m2!1sen!2sin"
                                    frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                            </div>
                        </div>
                    </li>
                    <li>
                        <h4>Accredit @ Yishun</h4>
                        <div class="adress_section">
                            <div>
                                <span class="icons mt-6"><img src="assets/locate_icon.svg" alt="" /></span>
                                <span>743 Yishun Ave 5, #01-548, <br> Singapore 760743 </span>
                            </div>
                            <div>
                                    <span class="icons"><img src="/assets/mail_icon.svg" alt="" /></span>
                                    <a tappable href="mailto:yishun@accreditloan.com">yishun@accreditloan.com</a>
                            </div>
                            <div>
                                <span class="icons"><img src="assets/call_icon.svg" alt="" /></span>
                                <a tappable href="tel:6219 2662">6219 2662</a>
                            </div>
                            <div>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d31908.606590169657!2d103.833695!3d1.429947!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4c06cdd1f7449f39!2sAccredit%20Licensed%20Money%20Lender%20Yishun%20%7C%20Personal%20Loan%20Singapore!5e0!3m2!1sen!2sin!4v1574745780057!5m2!1sen!2sin"
                                    frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</ion-content>