<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" *ngIf="isProfile == 'profile'">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons (click)="setProfile()" *ngIf="isProfile == 'edit'" class="back_btn" slot="start">
            <ion-icon name="arrow-back"></ion-icon>
        </ion-buttons>
        <ion-buttons (click)="setProfile()" *ngIf="isProfile == 'changePs'" class="back_btn" slot="start">
            <ion-icon name="arrow-back"></ion-icon>
        </ion-buttons>
        <ion-title *ngIf="isProfile == 'profile'">My Profile</ion-title>
        <ion-title *ngIf="isProfile == 'edit'">Edit Profile</ion-title>
        <ion-title *ngIf="isProfile == 'changePs'">Change Password</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="acunt_login_part">
        <div class="container">
            <div class="blue_section inner_section">
            </div>
        </div>
        <div class="form_login p-0">
            <div class="notifi_page p-0">
                <ion-list class="my-profile _photo">
                    <ion-item lines="none">
                        <div>
                            <ion-avatar slot="start">
                                <img *ngIf="user.profile_image; else other" src="{{user.profile_image}}">
                                <ng-template #other>
                                    <img src="assets/default-profile-picture.png">
                                </ng-template>
                                <div class="edit_icon" *ngIf="isProfile == 'edit'">
                                    <ion-icon name="create"></ion-icon>
                                    <ion-input type="file" accept="image/*" (change)="imageUpload($event)"></ion-input>
                                </div>
                            </ion-avatar>
                        </div>
                    </ion-item>
                </ion-list>
                <div [ngSwitch]="isProfile">
                    <ion-list class="my-profile" *ngSwitchCase="'profile'">
                        <ion-item lines="none" class="ion-text-center">
                            <ion-text class="user_name">
                                {{user.name}}
                            </ion-text>
                        </ion-item>
                        <ion-item lines="none" class="ion-text-center">
                            <ion-text>
                                {{user.email}}
                            </ion-text>
                        </ion-item>
                        <ion-item lines="none" class="ion-text-center">
                            <ion-text>
                                {{user.phone}}
                            </ion-text>
                        </ion-item>
                        <ion-item lines="none" class="ion-text-center mt-25">
                            <ion-button (click)="editProfile()" shape="round" color="success">
                                Edit Profile
                            </ion-button>
                        </ion-item>
                        <ion-item lines="none" class="ion-text-center">
                            <ion-button (click)="changePassword()" shape="round" color="success">
                                Change Password
                            </ion-button>
                        </ion-item>
                    </ion-list>
                    <div *ngSwitchCase="'edit'" class="acunt_login_part mt-25">
                        <div class="ion-padding form_login">
                            <form [formGroup]="userForm" (ngSubmit)="saveUser()" class="acnt_login">
                                <ion-list class="form_list" lines="none">
                                    <ion-item>
                                        <div class="item_center">
                                            <ion-label position="floating">Name</ion-label>
                                        </div>
                                        <ion-input formControlName="name" type="email"></ion-input>
                                    </ion-item>
                                    <ion-item class="edit_email">
                                        <div class="item_center">
                                            <ion-label position="floating">Email</ion-label>
                                        </div>
                                        <!-- <ion-input formControlName="email" type="email" [disabled]="true"></ion-input> -->
                                        <ion-input formControlName="email" type="email" ></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <div class="item_center">
                                            <ion-label position="floating">Phone</ion-label>
                                        </div>
                                        <ion-input formControlName="phone" type="phone"></ion-input>
                                    </ion-item>
                                </ion-list>
                                <div class="form-group mb-0">
                                    <ion-button type="submit" [disabled]="userForm.invalid" shape="round" color="success" expand="block"> Save </ion-button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div *ngSwitchCase="'changePs'" class="acunt_login_part mt-25">
                        <div class="ion-padding form_login">
                            <form [formGroup]="changePsForm" (ngSubmit)="savePassword()" class="acnt_login">
                                <ion-list class="form_list" lines="none">
                                    <ion-item>
                                        <div class="item_center">
                                            <ion-label position="floating">Current Password</ion-label>
                                        </div>
                                        <ion-input formControlName="opassword" type="password"></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <div class="item_center">
                                            <ion-label position="floating">New Password</ion-label>
                                        </div>
                                        <ion-input formControlName="password" type="password"></ion-input>
                                    </ion-item>
                                    <ion-item class="mb-0">
                                        <div class="item_center">
                                            <ion-label position="floating">Re Enter New Password</ion-label>
                                        </div>
                                        <ion-input formControlName="repassword" type="password"></ion-input>
                                    </ion-item>
                                </ion-list>
                                <div class="invalid-feedback" *ngIf="changePsForm.errors?.mismatch && (changePsForm.controls['password'].dirty || changePsForm.controls['repassword'].touched)">
                                    Passwords don't match.
                                </div>
                                <div class="form-group mb-0 mt-20">
                                    <ion-button type="submit" [disabled]="changePsForm.invalid" shape="round" color="success" expand="block"> Save </ion-button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</ion-content>