.my-profile {
    &._photo {
        margin-bottom: 0;
        ion-item {
            margin-bottom: 0;
        }
    }
    ion-item {
        height: auto;
        --min-height: auto;
        div {
            width: 100%;
            ion-avatar {
                margin: 0 auto;
                height: 90px;
                width: 90px;
                position: relative;
                .edit_icon {
                    position: absolute;
                    bottom: 0;
                    right: -10px;
                    width: 40px;
                    height: 40px;
                    background: rgba(221, 221, 221, 0.9);
                    border-radius: 50%;
                    padding: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    ion-icon {
                        font-size: 24px;
                    }
                    ion-input {
                        position: absolute;
                        top: 0;
                        right: 0;
                        left: 0;
                        bottom: 0;
                        opacity: 0;
                    }
                }
            }
        }
        ion-text {
            opacity: 0.8;
            &.user_name {
                font-size: 22px;
                opacity: 1;
            }
        }
        &.ion-text-center {
            margin-bottom: 12px;
        }
        ion-button.button-round {
            height: 43px;
            font-size: 14px;
            min-width: 184px;
            margin: auto;
        }
    }
}

.edit_email {
    opacity: 0.6 !important;
}

.invalid-feedback {
    color: red;
    text-align: center;
    font-size: 13px;
}

.mt-20 {
    margin-top: 20px;
}