<ion-header>
    <ion-toolbar>
        <ion-buttons routerLink="/loan-type" class="back_btn" slot="start">
            <ion-icon name="arrow-back"></ion-icon>
        </ion-buttons>
        <ion-title>Apply Loan</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="acunt_login_part">
        <div class="container">
            <div class="blue_section inner_section">
            </div>
        </div>
        <!--   | slice:start:end -->
        <div class="form_login">
            <form class="acnt_login" #f="ngForm">
                <ion-list class="form_list" lines="none">
                    <ng-container *ngFor="let item of formFieldsList | slice:start:end" [ngSwitch]="item.type">
                        <ion-item *ngSwitchCase="'text'">
                            <div class="item_center">
                                <p *ngIf="item.slug == 'residential_address_one'" class="fixed_label">Residential Address (Singapore)</p>
                                <p *ngIf="item.slug == 'office_address_one'" class="fixed_label">Office Address (in Singapore)</p>
                                <ion-label position="floating">{{item.title}}</ion-label>
                            </div>
                            <ion-input name="{{item.slug}}" [(ngModel)]="item.modal" type="text" [required]="item.is_required"></ion-input>

                        </ion-item>

                        <ion-item *ngSwitchCase="'number'">
                            <div class="item_center">
                                <ion-label position="floating">{{item.title}}</ion-label>
                            </div>
                            <ion-input name="{{item.slug}}" [(ngModel)]="item.modal" type="number" required></ion-input>
                        </ion-item>



                        <ion-item *ngSwitchCase="'email'" [class.error]="isMailExist">
                            <div class="item_center">
                                <ion-label position="floating">{{item.title}}</ion-label>
                            </div>
                            <ion-input name="{{item.slug}}" pattern='^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$' (ngModelChange)="checkMail($event)" [(ngModel)]="item.modal" type="email" [required]="item.is_required"></ion-input>
                        </ion-item>
                        <p class="ps_notmatched" *ngIf="isValidMail && item.slug == 'email'">Email Address is not valid</p>
                        <p class="ps_notmatched" *ngIf="isMailExist && item.slug == 'email'">{{isMailExist}}</p>
                        <ng-container *ngSwitchCase="'dropdown'">
                            <ion-item class="select_box">
                                <div class="d_box">
                                    <div class="item_center">
                                        <ion-label position="floating">{{item.title}}</ion-label>
                                    </div>
                                    <ion-select name="{{item.title}}" [(ngModel)]="item.modal" [required]="item.is_required">
                                        <ion-select-option *ngFor="let list of item.value" [value]="list.id">{{list.name}}
                                        </ion-select-option>
                                    </ion-select>
                                </div>
                            </ion-item>
                        </ng-container>
                    </ng-container>
                </ion-list>
                <!--  [disabled]="f.invalid" -->
                <div class="form-group mb-0" *ngIf="formFieldsList?.length > 0">
                    <ion-button (click)="next()" [disabled]="f.invalid" type="submit" shape="round" color="success" expand="block">Next
                    </ion-button>
                </div>
            </form>
        </div>
    </div>
</ion-content>