.sign_up {
    .terms_policy {
        font-size: 1rem;
    }
    p.signUp_text {
        margin: 20px 0px 6px;
    }
    .blue_section {
        padding-top: 30px;
        img.icon {
            max-width: 60px;
            margin-right: -15px;
        }
    }
    .power_by {
        background: #70db58;
        padding: 10px 20px;
        border-radius: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-family: "Conv_CircularStd-Black";
        font-size: 20px;
        margin-top: 14px;
        p {
            margin: 0 0 0 18px;
            background: #fff;
            padding: 10px;
            border-radius: 35px;
            min-width: 118px;
            text-align: center;
            line-height: 0;
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
            img {
                max-width: 68px;
            }
        }
    }
    h4 {
        font-size: 18px;
        text-align: center;
    }
    ion-list {
        display: flex;
        justify-content: center;
        ion-item {
            min-height: auto;
            height: auto;
            position: relative;
            &.active {
                .radio_item {
                    background: #70db58;
                    color: #fff;
                    svg {
                        fill: #fff;
                    }
                }
                ion-icon {
                    border: 2px solid #fff;
                    border-radius: 50%;
                    background: #70db58;
                    font-size: 20px;
                    position: absolute;
                    bottom: -12px;
                    left: 50%;
                    transform: translateX(-82%);
                    color: #fff;
                    padding: 2px;
                }
            }
        }
    }
    .radio_item {
        height: 122px;
        width: 122px;
        background: #ddd;
        border-radius: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        font-family: "Conv_SF-Pro-Display-Regular";
        overflow: hidden;
        position: relative;
        svg {
            margin-bottom: 14px;
        }
    }
}

.or_line {
    position: relative;
    text-align: center;
    margin: 22px;
    span {
        position: relative;
        background: #fff;
        padding: 0 5px;
        font-size: 18px;
    }
    &::before {
        position: absolute;
        content: "";
        height: 2px;
        background: #eeeeee;
        left: 0;
        right: 0;
        top: 12px;
    }
}

div.disabled {
    background: #cbcbcb !important;
}

.ion-activatable {
  ion-label {
    a {
      position: relative;
      z-index: 10;
    }
  }
}