<ion-app>
    <ion-split-pane contentId="menu-content" >
        <ion-menu *ngIf="user" id="sideDrwer" (ionWillClose)="onMenuClose()" (ionWillOpen)="onMenuOpen()" contentId="menu-content" swipeBackEnabled="false" type="overlay">
            <ion-header>
                <ion-menu-toggle auto-hide="false">
                    <ion-item lines="none" routerLink="/my-profile">
                        <ion-avatar slot="start">
                            <img *ngIf="user.profile_image; else other" src="{{user.profile_image}}">
                            <ng-template #other>
                                <img src="assets/default-profile-picture.png">
                            </ng-template>
                        </ion-avatar>
                        <ion-label>{{user.name}}
                            <p>Login</p>
                        </ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-header>
            <ion-content>
                <ion-list lines="none" class="ion-no-padding">
                    <ion-menu-toggle auto-hide="false">
                        <ion-item [routerDirection]="'root'" routerLink="/dashboard">
                            <div class="icon">
                                <img slot="start" src="assets/home.svg" alt="" />
                            </div>
                            <ion-label>
                                Home
                            </ion-label>
                        </ion-item>
                        <ion-item routerLink="/about">
                            <div class="icon">
                                <img slot="start" src="assets/user.svg" alt="" />
                            </div>
                            <ion-label>
                                About Us
                            </ion-label>
                        </ion-item>
                        <ion-item routerLink="/loan-type">
                            <div class="icon">
                                <img slot="start" src="assets/applay_loan.svg" alt="" />
                            </div>
                            <ion-label>
                                Apply Loan
                            </ion-label>
                        </ion-item>
                        <ion-item routerLink="/calculator">
                            <div class="icon">
                                <img slot="start" src="assets/loan_c.svg" alt="" />
                            </div>
                            <ion-label>
                                Loan Calculator
                            </ion-label>
                        </ion-item>
                        <ion-item routerLink="faq">
                            <div class="icon">
                                <img slot="start" src="assets/faq.svg" alt="" />
                            </div>
                            <ion-label>
                                FAQ
                            </ion-label>
                        </ion-item>
                        <ion-item routerLink="payment-code">
                            <div class="icon">
                                <img slot="start" src="assets/qr-code.svg" alt="" />
                            </div>
                            <ion-label>
                                Payment Code
                            </ion-label>
                        </ion-item>
                        <ion-item routerLink="/notification">
                            <div class="icon">
                                <img slot="start" src="assets/notifications.svg" alt="" />
                            </div>
                            <ion-label>
                                Notification
                            </ion-label>
                        </ion-item>
                        <ion-item routerLink="/contact">
                            <div class="icon">
                                <img slot="start" src="assets/contact.svg" alt="" />
                            </div>
                            <ion-label>
                                Contact Us
                            </ion-label>
                        </ion-item>

                       
                        <ion-item tappable *ngFor="let item of docList; let i = index;" class="mb_0 d_list" [class.line_seprater]="i == 0" >
                            
                           <!--  <a href="{{item.url}}" target="_self" class="unlinenone">  
                                <ion-label>
                                {{item.title}}
                                </ion-label>
                            </a> -->
                            <a  (click)="opendocument(item.url)" class="unlinenone">  
                                <!-- <a href="{{item.url}}" (click)="opendocument(item.url)" class="unlinenone">   -->
                                <ion-label>
                                {{item.title}}
                                </ion-label>
                            </a>  
                        </ion-item>
                        <ion-item class="mb_0" (click)="presentAlertConfirm()">
                            <ion-label>
                                Logout
                            </ion-label>
                        </ion-item>
                        <ion-item>
                            <div class="social_icons">
                                <!--  <a href="javascript:void(0);"><img src="assets/facebook.svg" /></a> -->
                                <a href="https://www.linkedin.com/company/accredit-money-lender/"><img src="assets/linkedin.svg" /></a>
                                <!--  <a href="javascript:void(0);"><img src="assets/google-plus.svg" /></a> -->
                            </div>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="menu-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>