ion-menu-toggle {
    .icon {
        min-width: 40px;
        img{
            max-width: 22px;
        }
    }
    ion-label {
        color: #737373;
        opacity: 0.85;
    }
}

ion-menu {
    ion-list {
        --padding-top: 0;
    }
}

.line_seprater {
    border-top: 1px solid #ddd;
    padding-top: 15px;
    margin-top: 15px;
}

.mb_0 {
    --min-height: 40px;
    ion-label {
        margin-bottom: 0;
        margin-top: 0;
    }
}

.header_login_part {
    padding-bottom: 7px;
    p {
        opacity: .7;
        font-size: 13px;
        margin-top: 5px;
    }
    ion-label {
        margin-bottom: 0;
        margin-top: 0;
        ;
    }
}

.d_list {
    ion-label {
        text-transform: capitalize;
    }
}