<ion-header>
    <ion-toolbar>
        <ion-buttons routerLink="/signup" class="back_btn" slot="start">
            <ion-icon name="arrow-back"></ion-icon>
        </ion-buttons>
        <ion-title>Create Account</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="acunt_login_part">
        <div class="container">
            <div class="blue_section inner_section">
            </div>
        </div>
        <!--   | slice:start:end -->
        <div class="form_login">
            <form class="acnt_login" #f="ngForm">
                <ion-list class="form_list" lines="none">
                    <ng-container *ngFor="let item of formFieldsList | slice:start:end" [ngSwitch]="item.type">
                        <ion-item [class.fixed_label_item]="item.slug == 'registered_office_one' || item.slug == 'business_address_one'" *ngSwitchCase="'text'">

                            <div class="item_center">
                                <p *ngIf="item.slug == 'registered_office_one'" class="fixed_label">Registered Address</p>
                                <p *ngIf="item.slug == 'business_address_one'" class="fixed_label">Business Address (if different)</p>
                                <ion-label position="floating">{{item.title}}</ion-label>
                            </div>
                            <ion-input name="{{item.slug}}" *ngIf="item.title == 'Postal Code'" (keyup)="checknumber(item.modal,item.title)" [(ngModel)]="item.modal" type="text" required></ion-input>
                                <ion-input name="{{item.slug}}" *ngIf="item.title != 'Postal Code'" [(ngModel)]="item.modal" type="text" required></ion-input>
                            
                            <p class="ps_notmatched" *ngIf="!isValidPostal && item.title == 'Postal Code'">Postal Code is not valid</p>
                        </ion-item>
                          
                        <ion-item *ngSwitchCase="'number'">
                            <div class="item_center">
                                <ion-label position="floating">{{item.title}}</ion-label>
                            </div>
                            <ion-input name="{{item.slug}}" [(ngModel)]="item.modal" type="number" required></ion-input>
                        </ion-item>

                        <ion-item *ngSwitchCase="'email'">
                            <div class="item_center">
                                <ion-label position="floating">{{item.title}}</ion-label>
                            </div>
                            <ion-input name="{{item.slug}}" [(ngModel)]="item.modal" type="email" required></ion-input>
                        </ion-item>

                        <ion-item *ngSwitchCase="'dropdown'" class="select_box">
                            <div class="d_box">
                                <div class="item_center">
                                    <ion-label position="floating">{{item.title}}</ion-label>
                                </div>
                                <ion-select name="{{item.title}}" [(ngModel)]="item.modal" required>
                                    <ion-select-option *ngFor="let list of item.value" [value]="list.id">{{list.name}}</ion-select-option>
                                </ion-select>
                            </div>
                        </ion-item>


                        <ion-item *ngSwitchCase="'date'" class="date_picker" >
                            <div *ngIf="item.slug == 'dob'" class="d_box fullwidth"> 
                            <div class="item_center">
                                <ion-label position="floating">Date Of Birth</ion-label>
                            </div>
                              <!-- <img src="assets/input_clndr_icon.svg" > -->
                             <!-- <ion-input  name="dob"  (ionFocus)="openDatePicker()" [(ngModel)]="item.modal"  required></ion-input> -->
                          <ion-datetime [(ngModel)]="item.modal" name="dob" displayFormat="DD-MM-YYYY"  max="{{today1}}" required></ion-datetime>
                          
                        </div> 
                        <div *ngIf="item.slug == 'date_of_registration'" class="d_box fullwidth"> 
                                <div class="item_center">
                                    <ion-label position="floating">{{item.title}}</ion-label>
                                </div>
                                  <!-- <img src="assets/input_clndr_icon.svg" >
                                 <ion-input  name="{{item.title}}"  (ionFocus)="Openpickerfordateregistraion()" [(ngModel)]="item.modal"  required></ion-input> -->
                              <ion-datetime [(ngModel)]="item.modal" name="dob" displayFormat="DD-MM-YYYY"  max="{{today1}}" required></ion-datetime>
                            </div> 
                    </ion-item>
                    </ng-container>
                </ion-list>
                <div class="form-group mb-0" *ngIf="formFieldsList?.length > 0">
                    <ion-button (click)="saveUser()" [disabled]="f.invalid || !isValidPostal" shape="round" color="success" expand="block">Next
                    </ion-button>
                </div>
            </form>
        </div>
    </div>
</ion-content>