.add_btn{
    position: absolute;
    z-index: 99;
    background: #D5D5D5;
    border-radius: 50%;
    height: 38px;
    top: 17px;
    left: 15px;
    width: 38px;
    padding: 0;
    font-size: 14px;
    overflow: hidden;
    &.right{
        left: auto;
        right: 30px;        
    }
  }
  .date_picker{
      position: relative;
      img{
        position: absolute;
        right: 34px;
        top: 32px;
        z-index: 10;

      }
  }