<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Payment Schedule</ion-title>
        <ion-buttons routerLink="/payment-schedule" class="back_btn backiflogin " slot="end" >
            <ion-icon name="arrow-back"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="acunt_login_part">
        <div class="container">
            <div class="blue_section inner_section">
                <div class="account_details">
                    <p *ngIf="scheduleDetails.account_number">Account Number</p>
                    <h5>{{scheduleDetails.account_number?scheduleDetails.account_number:''}}</h5>
                    <p>Total Due</p>
                    <h5> {{scheduleDetails.total_due }}</h5>
                </div>
            </div>
        </div>
        <div class="form_login p-0">
            <div class="radius_part">
                <ul class="payment_repayment">
                    <li [class.pending]="item.status == 'pending'" *ngFor="let item of scheduleDetails.data">
                        <p class="installment">{{item.installment_name}}</p>
                        <div>
                            <span>Due on</span>
                            <p>{{item.due_on}}</p>
                        </div>
                        <div>
                            <span>Principal</span>
                            <p>{{item.principal_amount}}</p>
                        </div>
                        <div>
                            <span>Interests</span>
                            <p>{{item.interest_amount}}</p>
                        </div>
                        <div>
                            <!-- <span>Balance Due</span> -->
                            <span>Balance Due</span>
                            <p>{{item.balance_due}}</p>
                            <!-- <p>{{item.balance_due | currency}}</p> -->
                        </div>
                        <!-- <div *ngIf="item.status !== 'pending'">
                            <span>Late fee</span>
                            <p> {{item.late_fee | currency}}</p>
                        </div> -->
                        <div>
                            <span>Status</span>

                            <!-- <p class="status" *ngIf="item.status == 'pending'">Due</p> -->
                            <p class="status">{{item.status}}</p>
                        </div>
                    </li>
                </ul>
                <ion-item *ngIf="noData">
                    <ion-label color="danger">{{noData}}</ion-label>
                </ion-item>
            </div>
        </div>
    </div>
    <div class="main_section">

    </div>
</ion-content>