.account_details {
    text-align: center;
    color: #fff;
    p {
        margin: 0;
        opacity: .65;
    }
    h5 {
        margin-top: 8px;
        margin-bottom: 20px;
        font-size: 20px;
    }
}

.installment {
    width: 100%;
    margin-top: 7px;
    text-transform: uppercase;
}