.acunt_login_part {
    height: 100%;
    display: flex;
    flex-direction: column;
    .form_login{
        overflow: auto;
    }
    .disclaimer {
        display: flex;
        flex-direction: column;
        margin-top: auto;
        padding: 0px 15px 20px;
        b{
            font-size: 20px;
            margin-bottom: 5px;
            display: block;
            font-weight: 400;
        }
        p{
            margin: 0px;
            color: rgba(0, 0, 0, 0.8);
            font-size: 18px;
            a {
                display: inline-flex;
                margin-right: 5px;
                color: #1553b5;
            }
        }
        
    }
}
