<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
           
        </ion-buttons>
        
        <ion-title>Payment Schedule</ion-title>
        <ion-buttons routerLink="/dashboard" class="back_btn backiflogin " slot="end" >
            <ion-icon name="arrow-back"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="acunt_login_part">
        <div class="container">
            <div class="blue_section inner_section">
            </div>
        </div>
        <div class="form_login">
            <h2>Active Loans</h2>
            <p class="sub_title">Loan Number</p>
            <ion-list class="list_wb">
                <ion-item class="m-0" *ngFor="let item of scheduleList" [queryParams]="{loan_id: item.id, loan_type:item.loan_type}" routerLink="/payment-schedule/details">
                    <ion-label>
                      {{item.loan_no}}
                    </ion-label>
                    <img slot="end" src="/assets/forward.svg" alt="">
                </ion-item>
                <ion-item *ngIf="noData">
                    <ion-label color="danger">{{noData}}</ion-label>
                </ion-item>
            </ion-list>
        </div>
        <div class="disclaimer"><b>Disclaimer Clause:</b><p>Whilst endeavour is made to ensure that the information provided is updated & correct, Accredit Pte Limited disclaims any liability for any damage or loss that may be caused as a result of any error or omission. For any questions, please contact our staff or via email at <a href="mailto:enquiry@accreditloan.com">enquiry@accreditloan.com</a>
            <a href="https://www.accreditloan.com/">https://www.accreditloan.com/</a></p></div>
    </div>
</ion-content>