<ion-content>
    <div class="acunt_login_part sign_up">
        <div class="container">
            <div class="blue_section">
                <ion-buttons routerLink="/home" class="back_btn" slot="start">
                    <ion-icon name="arrow-back"></ion-icon>
                </ion-buttons>
                <div class="account_login_section">
                    <div class="acnt_image"><img class="icon" src="assets/pencil.svg" alt="" /></div>
                    <div class="acnt_text">Sign Up</div>
                </div>
            </div>
        </div>
        <div class="form_login">
            <div class="power_by" *ngIf="user.is_individual_loan_show == 1" tappable (click)="callMyinfo()">
                Sign Up with
                <p><img src="assets/myinfo.jpg" alt=""></p>
            </div>
            <div class="or_line">
                <span>or</span>
            </div>
            <h4>Sign Up Manually</h4>
            <form class="acnt_login">
                <ion-list lines="none">
                    <ion-item *ngIf="user.is_individual_loan_show == 1" [class.active]="type == 1" (click)="selectSignup(1)">
                        <div class="radio_item ion-activatable">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26.226" fill="rgba(0,0,0,.5)" height="30.833" viewBox="0 0 26.226 30.833">
                <g id="avatar" transform="translate(-36.073)">
                  <g id="Group_1255" data-name="Group 1255" transform="translate(36.073)">
                    <path id="Path_217" data-name="Path 217"
                      d="M143.634,16.613h.2a5.892,5.892,0,0,0,4.5-1.947c2.458-2.771,2.05-7.521,2-7.975-.16-3.4-1.769-5.031-3.1-5.791a7.1,7.1,0,0,0-3.435-.9H143.7a7.11,7.11,0,0,0-3.435.875c-1.341.76-2.975,2.388-3.135,5.817-.045.453-.453,5.2,2,7.975A5.868,5.868,0,0,0,143.634,16.613Zm-4.8-9.762c0-.019.006-.038.006-.051.211-4.578,3.461-5.07,4.853-5.07h.077c1.724.038,4.655.741,4.853,5.07a.124.124,0,0,0,.006.051c.006.045.453,4.386-1.577,6.672a4.185,4.185,0,0,1-3.288,1.366H143.7a4.171,4.171,0,0,1-3.282-1.366C138.4,11.25,138.832,6.889,138.839,6.851Z"
                      transform="translate(-130.632)" />
                    <path id="Path_218" data-name="Path 218"
                      d="M62.3,267.184v-.019c0-.051-.006-.1-.006-.16-.038-1.264-.121-4.22-2.892-5.165l-.064-.019a18.425,18.425,0,0,1-5.3-2.413.862.862,0,1,0-.99,1.411,19.888,19.888,0,0,0,5.829,2.663c1.488.53,1.654,2.12,1.7,3.575a1.284,1.284,0,0,0,.006.16,11.589,11.589,0,0,1-.134,1.973,23.5,23.5,0,0,1-11.257,2.618,23.633,23.633,0,0,1-11.263-2.624,10.97,10.97,0,0,1-.134-1.973c0-.051.006-.1.006-.16.045-1.456.211-3.046,1.7-3.576a20.071,20.071,0,0,0,5.829-2.663.862.862,0,1,0-.99-1.411,18.221,18.221,0,0,1-5.3,2.413c-.026.006-.045.013-.064.019-2.771.951-2.854,3.908-2.892,5.165a1.281,1.281,0,0,1-.006.16v.019a9.792,9.792,0,0,0,.326,2.892.819.819,0,0,0,.332.4c.192.128,4.782,3.052,12.463,3.052s12.272-2.931,12.463-3.052a.855.855,0,0,0,.332-.4A10.273,10.273,0,0,0,62.3,267.184Z"
                      transform="translate(-36.073 -242.692)"  />
                  </g>
                </g>
              </svg> Individual
                            <ion-ripple-effect></ion-ripple-effect>
                        </div>
                        <ion-icon *ngIf="type == 1" name="checkmark"></ion-icon>
                    </ion-item>
                     <ion-item *ngIf="user.is_company_loan_show ==1" [class.active]="type == 2" (click)="selectSignup(2)">
                        <div class="radio_item ion-activatable">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28.594" height="28.62" viewBox="0 0 28.594 28.62">
                <g id="visitor" transform="translate(-0.238)" opacity="0.5">
                  <g id="Group_1259" data-name="Group 1259" transform="translate(3.883 11.282)">
                    <g id="Group_1258" data-name="Group 1258">
                      <path id="Path_219" data-name="Path 219"
                        d="M68.8,201.836a3.364,3.364,0,1,0,3.364,3.364A3.368,3.368,0,0,0,68.8,201.836Zm0,5.046a1.682,1.682,0,1,1,1.682-1.682A1.684,1.684,0,0,1,68.8,206.882Z"
                        transform="translate(-65.436 -201.836)" />
                    </g>
                  </g>
                  <g id="Group_1261" data-name="Group 1261" transform="translate(15.153 12.141)">
                    <g id="Group_1260" data-name="Group 1260">
                      <rect id="Rectangle_8" data-name="Rectangle 8" width="3.363" height="1.682" />
                    </g>
                  </g>
                  <g id="Group_1263" data-name="Group 1263" transform="translate(20.198 12.141)">
                    <g id="Group_1262" data-name="Group 1262">
                      <rect id="Rectangle_9" data-name="Rectangle 9" width="3.363" height="1.682" />
                    </g>
                  </g>
                  <g id="Group_1265" data-name="Group 1265" transform="translate(15.153 15.505)">
                    <g id="Group_1264" data-name="Group 1264">
                      <rect id="Rectangle_10" data-name="Rectangle 10" width="3.363" height="1.682" />
                    </g>
                  </g>
                  <g id="Group_1267" data-name="Group 1267" transform="translate(20.198 15.505)">
                    <g id="Group_1266" data-name="Group 1266">
                      <rect id="Rectangle_11" data-name="Rectangle 11" width="3.363" height="1.682" />
                    </g>
                  </g>
                  <g id="Group_1269" data-name="Group 1269" transform="translate(15.153 5.491)">
                    <g id="Group_1268" data-name="Group 1268">
                      <rect id="Rectangle_12" data-name="Rectangle 12" width="3.363" height="1.682" />
                    </g>
                  </g>
                  <g id="Group_1271" data-name="Group 1271" transform="translate(20.198 5.491)">
                    <g id="Group_1270" data-name="Group 1270">
                      <rect id="Rectangle_13" data-name="Rectangle 13" width="3.363" height="1.682" />
                    </g>
                  </g>
                  <g id="Group_1273" data-name="Group 1273" transform="translate(15.153 8.854)">
                    <g id="Group_1272" data-name="Group 1272">
                      <rect id="Rectangle_14" data-name="Rectangle 14" width="3.363" height="1.682" />
                    </g>
                  </g>
                  <g id="Group_1275" data-name="Group 1275" transform="translate(20.198 8.854)">
                    <g id="Group_1274" data-name="Group 1274">
                      <rect id="Rectangle_15" data-name="Rectangle 15" width="3.363" height="1.682" />
                    </g>
                  </g>
                  <g id="Group_1277" data-name="Group 1277" transform="translate(0.238)">
                    <g id="Group_1276" data-name="Group 1276" transform="translate(0)">
                      <path id="Path_220" data-name="Path 220"
                        d="M25.468,1.685V0H13.134V1.693H9.714V8.087a7.008,7.008,0,0,0-9.476,6.56c0,1.583,1.045,4.178,3.195,7.934,1.54,2.691,3.1,4.994,3.118,5.017l.7,1.023.7-1.023c.013-.019,1.028-1.515,2.227-3.5H28.832V1.7h0ZM7.246,25.6C5.3,22.6,1.92,16.921,1.92,14.646a5.327,5.327,0,0,1,10.653,0C12.573,16.921,9.194,22.6,7.246,25.6Zm19.9-3.189H20.2V18.937H18.516v3.476H11.155c2.085-3.665,3.1-6.208,3.1-7.767A7,7,0,0,0,11.4,9V3.375h3.42V1.682h8.971V3.361l3.364.011Z"
                        transform="translate(-0.238)" />
                    </g>
                  </g>
                </g>

              </svg> Company
                            <ion-ripple-effect></ion-ripple-effect>
                        </div>
                        <ion-icon *ngIf="type == 2" name="checkmark"></ion-icon>
                    </ion-item> 
                </ion-list>
                <div class="form-group mb-0">
                    <ion-button (click)="userRegister()" shape="round" color="success" expand="block"> Continue </ion-button>
                    <p class="signUp_text">If you already have an account,
                        <a class="tdn" routerLink="/app-login">Login</a> now</p>
                </div>
            </form>


        </div>


    </div>


</ion-content>