<ion-header>
    <ion-toolbar>
        <ion-buttons routerLink="/individual-applay-loan/step3" class="back_btn" slot="start">
            <ion-icon name="arrow-back"></ion-icon>
        </ion-buttons>
        <ion-title>Apply Loan</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="acunt_login_part">
        <div class="container">
            <div class="blue_section inner_section">
            </div>
        </div>
        <!--   | slice:start:end -->
        <div class="form_login">
            <h4 class="ion-text-center mb-0">Employment Information</h4>
            <form class="acnt_login" #f="ngForm">
                <ion-list class="form_list" lines="none">
                    <ng-container *ngFor="let item of formFieldsList | slice:start:end" [ngSwitch]="item.type">
                        <ion-item class="sub_heading _m" *ngIf="item.slug == 'next_of_kin_name'">
                            <div>
                                Next of Kin
                            </div>
                        </ion-item>
                        <ion-item *ngSwitchCase="'text'">
                            <div class="item_center resi_adrs">
                                <p *ngIf="item.slug == 'residential_address_one'" class="fixed_label">Residential Address (Singapore)</p>
                                <p *ngIf="item.slug == 'office_address_one'" class="fixed_label">Office Address (in Singapore)</p>
                                <ion-label position="floating">{{item.title}}</ion-label>
                            </div>
                            <ion-input name="{{item.slug}}" [(ngModel)]="item.modal" type="text" [required]="item.is_required"></ion-input>
                        </ion-item>

                        <ion-item *ngSwitchCase="'number'">
                            <div class="item_center">
                                <ion-label position="floating">{{item.title}}</ion-label>
                            </div>
                            <ion-input name="{{item.slug}}" [(ngModel)]="item.modal" type="number" [required]="item.is_required"></ion-input>
                        </ion-item>

                        <ion-item *ngSwitchCase="'email'">
                            <div class="item_center">
                                <ion-label position="floating">{{item.title}}</ion-label>
                            </div>
                            <ion-input name="{{item.slug}}" [(ngModel)]="item.modal" type="email" [required]="item.is_required"></ion-input>
                        </ion-item>
                        <ng-container *ngSwitchCase="'dropdown'">
                            <ion-item class="select_box">
                                <div class="d_box">
                                    <div class="item_center">
                                        <ion-label position="floating">{{item.title}}</ion-label>
                                    </div>
                                    <ion-select name="{{item.title}}" [(ngModel)]="item.modal" [required]="item.is_required">
                                        <ion-select-option *ngFor="let list of item.value" [value]="list.id">{{list.name}}
                                        </ion-select-option>
                                    </ion-select>
                                </div>
                            </ion-item>
                        </ng-container>
                        <ng-container *ngSwitchCase="'file'">
                            <ion-item class="sub_heading">
                                <div>{{item.title}}</div>
                            </ion-item>
                            <ion-item class="attach_file">
                                <ion-input type="file" (change)="onFileChanged($event, item.slug)"></ion-input>
                                <div class="icon">
                                    <span *ngIf="item.slug == 'proof_of_income'">
                                         <span *ngIf="!proofOfIncome.name; else fileName">Attach File</span>
                                    <ng-template #fileName>
                                        {{proofOfIncome.name}}
                                    </ng-template>
                                    </span>
                                    <span *ngIf="item.slug == 'other_document'">
                                         <span *ngIf="!otherDocument.name; else fileName">Attach File</span>
                                    <ng-template #fileName>
                                        {{otherDocument.name}}
                                    </ng-template>
                                    </span>
                                    <ion-icon name="attach"></ion-icon>
                                </div>
                            </ion-item>
                        </ng-container>



                        <ion-item *ngSwitchCase="'date'" class="date_picker">
                            <div class="item_center">
                                <ion-label position="floating">{{item.title}}</ion-label>
                            </div>
                            <ion-datetime [(ngModel)]="item.modal" name="dob"  displayFormat="DD-MM-YYYY" max="2020-12-09" [required]="item.is_required"></ion-datetime>
                        </ion-item>
                    </ng-container>
                </ion-list>
                <!--  [disabled]="f.invalid" -->
                <div class="form-group mb-0" *ngIf="formFieldsList?.length > 0">
                    <ion-grid class="p-0">
                        <ion-row>
                            <ion-col class="pl-0">
                                <ion-button (click)="saveDarft()" shape="round" expand="block" color="success">Save as draft
                                </ion-button>
                            </ion-col>
                            <ion-col class="pr-0">
                                <ion-button (click)="applyLoan()" [disabled]="f.invalid" shape="round" expand="block" color="success">Submit
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </form>
        </div>
    </div>
</ion-content>