<ion-header>
    <ion-toolbar>
        <ion-buttons [routerLink]="['/individual-applay-loan/']" [queryParams]="{ uid: uid }" class="back_btn" slot="start">
            <ion-icon name="arrow-back"></ion-icon>
        </ion-buttons>
        <ion-title>Apply Loan</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="acunt_login_part">
        <div class="container">
            <div class="blue_section inner_section">
            </div>
        </div>
        <!--   | slice:start:end -->
        <div class="form_login">
            <form class="acnt_login" #f="ngForm">
                <ion-list class="form_list" lines="none">
                    <ng-container *ngFor="let item of formFieldsList | slice:start:end" [ngSwitch]="item.type">
                        <ion-item *ngSwitchCase="'text'">
                            <div class="item_center resi_adrs">
                                <p *ngIf="item.slug == 'residential_address_one'" class="fixed_label">Residential Address (Singapore)</p>
                                <p *ngIf="item.slug == 'office_address_one'" class="fixed_label">Office Address (in Singapore)</p>
                                <ion-label position="floating">{{item.title}}</ion-label>
                            </div>
                            <ion-input [disabled]="item.slug == 'length_of_stay'" name="{{item.slug}}" (keyup)="checknumber(item.modal,item.title)" [(ngModel)]="item.modal" type="text" [required]="item.is_required"></ion-input>
                            <ion-button class="add_btn" (click)="addMore(1, item)" *ngIf="item.slug == 'length_of_stay'" color="light">
                                <ion-icon name="add"></ion-icon>
                            </ion-button>
                            <ion-button class="add_btn right" (click)="addMore(2, item)" *ngIf="item.slug == 'length_of_stay'" color="light">
                                <ion-icon name="remove"></ion-icon>
                            </ion-button>
                        </ion-item>
                        <p class="ps_notmatched" *ngIf="!isValidpostal && item.title == 'Postal Code'">Postal Code is not valid</p>
                        <ion-item *ngSwitchCase="'number'">
                            <div class="item_center">
                                <ion-label position="floating">{{item.title}}</ion-label>
                            </div>
                            <ion-input name="{{item.slug}}" [(ngModel)]="item.modal" type="number" [required]="item.is_required"></ion-input>
                        </ion-item>

                        <ion-item *ngSwitchCase="'email'">
                            <div class="item_center">
                                <ion-label position="floating">{{item.title}}</ion-label>
                            </div>
                            <ion-input name="{{item.slug}}" [(ngModel)]="item.modal" type="email" [required]="item.is_required"></ion-input>
                        </ion-item>
                        <ng-container *ngSwitchCase="'dropdown'">
                            <ion-item class="select_box">
                                <div class="d_box">
                                    <div class="item_center">
                                        <ion-label position="floating">{{item.title}}</ion-label>
                                    </div>
                                    <ion-select name="{{item.title}}" [(ngModel)]="item.modal" [required]="item.is_required">
                                        <ion-select-option *ngFor="let list of item.value" [value]="list.id">{{list.name}}
                                        </ion-select-option>
                                    </ion-select>
                                </div>
                            </ion-item>
                        </ng-container>
                    </ng-container>
                </ion-list>
                <!--  [disabled]="f.invalid" -->
                <div class="form-group mb-0" *ngIf="formFieldsList?.length > 0">
                    <ion-grid class="p-0">
                        <ion-row>
                            <ion-col class="pl-0">
                                <ion-button (click)="saveDarft()" [disabled]="f.invalid || !isValidpostal" shape="round" expand="block" color="success">Save as draft
                                </ion-button>
                            </ion-col>
                            <ion-col class="pr-0">
                                <ion-button (click)="next()" [disabled]="f.invalid || !isValidpostal" shape="round" expand="block" color="success">Next
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </form>
        </div>
    </div>
</ion-content>