.top_head_visit {
  ion-button {
    --background: transparent;
    border: 1px solid #fff;
    max-height: 40px;
    font-size: 16px;
    font-family: "Conv_SF-Pro-Display-Regular";
    letter-spacing: 1px;
  }
}


.item-has-focus {
    --highlight-color-focused: transparent !important;
    --highlight-height: 0 !important;

  }
  