<ion-content>
    <div class="acunt_login_part">
        <div class="container">
            <div class="blue_section">
                <ion-buttons routerLink="/home" class="back_btn padding10" slot="start">
                    <ion-icon name="arrow-back"></ion-icon>
                </ion-buttons>
                <div class="top_head_visit">
                    <!-- <ion-button href="https://www.accreditloan.com/">Visit Our Website</ion-button> -->
                    <ion-button (click)="opendocument('https://www.accreditloan.com/')">Visit Our Website</ion-button>
                </div>
                <div class="account_login_section">
                    <div class="acnt_image"><img src="assets/account_login_icon.svg" alt="" /></div>
                    <div class="acnt_text">Account Login</div>
                    <p>Login with Email ID or Phone Number</p>
                </div>
            </div>
        </div>
        <div class="form_login">
            <form [formGroup]="loginForm" (ngSubmit)="doLogin()" class="acnt_login">
                <ion-list class="form_list" lines="none">
                    <ion-item [class.error]="isError">
                        <div class="item_center">
                            <ion-label position="floating">Phone Number/Email ID</ion-label>
                        </div>
                        <ion-input formControlName="email" type="email"></ion-input>
                    </ion-item>
                    <ion-item [class.error]="isError" class="mb-0">
                        <div class="item_center">
                            <ion-label position="floating">Password</ion-label>
                        </div>
                        <ion-input formControlName="password" type="password"></ion-input>
                    </ion-item>
                </ion-list>
                <p class="forgot_text"><a class="tdn" routerLink="forgot-password">Forgot Password ?</a></p>
                <div class="form-group mb-0">
                    <ion-button type="submit" [disabled]="loginForm.invalid" shape="round" color="success" expand="block"> Continue </ion-button>
                    <p class="signUp_text">If you don't have account, <a class="tdn" routerLink="/signup">Sign Up</a> now</p>
                </div>
            </form>
        </div>
    </div>


</ion-content>