ion-button.button-round.btn_sm {
    height: 42px;
    padding: 0;
    font-size: 14px;
}

ul.payment_repayment li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    >div:last-child {
        margin-bottom: 0;
    }
}

ul.payment_repayment li::after {
    background: #70db58;
}

ion-footer {
    ion-toolbar {
        padding: 6px 16px;
    }
}