<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Repayment History</ion-title>
        <ion-buttons routerLink="/payment-history" class="back_btn backiflogin " slot="end" >
            <ion-icon name="arrow-back"></ion-icon>
          </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="acunt_login_part">
        <div class="container">
            <div class="blue_section inner_section">
            </div>
        </div>
        <div class="form_login p-0">
         
            <a class="hiddenclickbtn" id="hiddenclickbtn" target="_self" href="{{commonurl}}" >click</a>
            <div class="radius_part">
                <ul class="payment_repayment">
                    <li class="active" *ngFor="let item of scheduleDetails.data;let i = index">
                        <div>
                            <span>Date of Payment</span>
                            <p>{{item.date_of_payment}}</p>
                        </div>
                        <div>
                            <span>Amount </span>
                            <p>{{item.amount}}</p>
                        </div>
                        <div>
                            <span>Date of Receipt</span>
                            <p>{{item.date_of_receipt}}</p>
                        </div>
                        <div>
                            <span>Receipt No</span>
                            <p>{{item.receipt_no}}</p>
                        </div>
                        <div>
                            <ion-button  (click)="getReceipt(item.payment_id,item.laon_from,i)" class="btn_sm" shape="round" color="success">Download Receipt
                            </ion-button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar >
        <ion-button shape="round" (click)="requestSOA(scheduleDetails.loan_from)" expand="full" color="success">Request SOA
        </ion-button>
    </ion-toolbar>
</ion-footer>