<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button [disabled]=false></ion-menu-button>
    </ion-buttons>
    <ion-title class="pl-0 ion-text-center">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <div class="banner bg_blue">
    <img src="assets/banner.svg" alt="">
  </div>
  <ion-grid class="padd-lr bg_w home_list top_ft">
    <ion-row>
      <ion-col size="6" class="ion-margin-bottom">
        <div>
          <button class="ion-activatable" routerLink="/loan-type">
            <img src="assets/apply_loan_icon.svg" alt="" />
            <p>Apply Loan</p>
            <ion-ripple-effect></ion-ripple-effect>
          </button>
        </div>
      </ion-col>
      <ion-col size="6" class="ion-margin-bottom">
        <div>
          <button class="ion-activatable" routerLink="/calculator">
            <img src="assets/loan_calculat.svg" alt="" />
            <p>Loan Calculator</p>
            <ion-ripple-effect></ion-ripple-effect>
          </button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="padd-lr bg_w home_list">
    <ion-row>
      <ion-col size="6" class="ion-margin-bottom">
        <div>
          <button routerLink="/payment-schedule" class="ion-activatable">
            <img src="assets/payment_schedule_icon.svg" alt="" />
            <p>Payment Schedule</p>
            <ion-ripple-effect></ion-ripple-effect>
          </button>
        </div>
      </ion-col>

      <ion-col size="6" class="ion-margin-bottom">
        <div>
          <button class="ion-activatable" routerLink="/payment-history">
            <img src="assets/payment_history_icon.svg" alt="" />
            <p>Repayment History</p>
            <ion-ripple-effect></ion-ripple-effect>
          </button>
        </div>
      </ion-col>
      <ion-col size="6" class="ion-margin-bottom">
        <div>
          <button class="ion-activatable" routerLink="/faq">
            <img src="assets/faq_icon.svg" alt="" />
            <p>FAQ</p>
            <ion-ripple-effect></ion-ripple-effect>
          </button>
        </div>
      </ion-col>

      <ion-col size="6" class="ion-margin-bottom">
        <div>
          <button class="ion-activatable" routerLink="/contact">
            <img src="assets/contact_icon.svg" alt="" />
            <p>Contact Us</p>
            <ion-ripple-effect></ion-ripple-effect>
          </button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>