/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@font-face {
    font-family: "Conv_SF-Pro-Display-Regular";
    src: url("assets/fonts/SF-Pro-Display-Regular.eot");
    src: local("☺"), url("assets/fonts/SF-Pro-Display-Regular.woff") format("woff"), url("assets/fonts/SF-Pro-Display-Regular.ttf") format("truetype"), url("assets/fonts/SF-Pro-Display-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Conv_SF-Pro-Display-Medium";
    src: url("assets/fonts/SF-Pro-Display-Medium.eot");
    src: local("☺"), url("assets/fonts/SF-Pro-Display-Medium.woff") format("woff"), url("assets/fonts/SF-Pro-Display-Medium.ttf") format("truetype"), url("assets/fonts/SF-Pro-Display-Medium.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Conv_SF-Pro-Display-Light";
    src: url("assets/fonts/SF-Pro-Display-Light.eot");
    src: local("☺"), url("assets/fonts/SF-Pro-Display-Light.woff") format("woff"), url("assets/fonts/SF-Pro-Display-Light.ttf") format("truetype"), url("assets/fonts/SF-Pro-Display-Light.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Conv_CircularStd-Black";
    src: url("assets/fonts/CircularStd-Black.eot");
    src: local("☺"), url("assets/fonts/CircularStd-Black.woff") format("woff"), url("assets/fonts/CircularStd-Black.ttf") format("truetype"), url("assets/fonts/CircularStd-Black.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

:root {
    --ion-font-family: "Conv_SF-Pro-Display-Regular";
}

ion-content {
    font-family: "Conv_SF-Pro-Display-Regular";
}

.bg_blue {
    background: #1553b5;
}

ion-header {
    &::after {
        background-image: none !important;
    }
    ion-toolbar {
        --background: #1553b5;
        color: #fff;
        ion-icon {
            color: #fff;
        }
    }
}

ion-button {
    --box-shadow: none;
    text-transform: capitalize;
    font-size: 20px;
    font-family: "Conv_SF-Pro-Display-Medium";
    button {
        height: 100%;
    }
}

ion-button:focus {
    outline: none;
}

.bg_w {
    background: #fff;
}

.header ion-buttons {
    position: absolute;
    top: 15px;
    left: 0px;
    --background: transparent;
    color: #fff;
}

.header ion-title {
    color: #fff;
}

.header_section ion-toolbar {
    --background: #1553b5;
}

.apply_section {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    margin-top: -65px;
    width: 100%;
}

.bottom_part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
}

.icon_box {
    min-width: 47%;
    max-width: 47%;
    margin-bottom: 30px;
}

.icon_box a {
    display: flex;
    height: 100%;
    padding: 50px 4px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.4s all ease;
    background: #fff;
    border-radius: 5px;
    color: #1453b5;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.icon_box a p {
    color: #1453b5;
    margin: 15px 0px 0px;
}

.icon_box a:hover p {
    color: #70db58;
}

.padd-lr {
    padding-left: 15px;
    padding-right: 15px;
}

.bottom_btn {
    position: fixed;
    bottom: 0px;
    background: #fff;
    padding: 10px 30px;
    left: 0px;
    right: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 9;
}

a.request_soa {
    display: block;
    background: #70db58;
    border-radius: 25px;
    text-align: center;
    padding: 12px 10px;
    font-size: 18px;
    font-family: "Conv_CircularStd-Black";
    transition: 0.4s all ease;
    color: #fff;
}

a.request_soa:hover {
    text-decoration: none;
    background: #1453b5;
}

.login_btn a {
    background: #70db58;
    display: block;
    margin: 0px 0px 30px;
    padding: 14px 0px;
    text-align: center;
    border-radius: 4px;
    transition: 0.4s all ease;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

.login_btn a:hover {
    text-decoration: none;
    color: #fff;
    background: #1453b5;
}

.login_btn a img {
    margin-right: 5px;
    vertical-align: middle;
    display: inline-block;
}

.header_login_part {
    padding: 10px;
    border-bottom: 1px solid rgba(112, 112, 112, 0.2);
    margin-bottom: 10px;
}

.social_part {
    padding: 10px 30px 20px;
    border-top: 1px solid rgba(112, 112, 112, 0.2);
    margin-top: 20px;
}

.social_part p,
.social_part p a {
    font-size: 16px;
    color: #191616;
    margin-bottom: 0px;
}

.social_part p+p {
    margin-top: 10px;
}

.social_icons {
    margin-top: 20px;
    margin-bottom: 20px;
}

.social_icons a+a {
    margin-left: 10px;
}

.top_head_visit {
    text-align: center;
    margin: 0px 0px 40px;
    padding-top: 30px;
}

.top_head_visit a {
    display: inline-block;
    border: 1px solid #fff;
    padding: 2px 16px;
    border-radius: 2px;
    font-size: 16px;
    font-family: "Conv_CircularStd-Black";
    color: #fff;
}

.account_login_section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.acnt_text {
    font-weight: 400;
    font-size: 24px;
    display: block;
    margin: 20px 0px 0px;
    color: #fff;
    font-family: "Conv_SF-Pro-Display-Medium";
}

.account_login_section p {
    margin: 15px 0px 0px;
    font-size: 15px;
    line-height: 24px;
    color: #fff;
    font-family: "Conv_SF-Pro-Display-Light";
}

.form_login {
    background: #fff;
    border-radius: 35px 35px 0px 0px;
    padding: 8px 16px 20px 16px;
    margin-top: -35px;
    overflow: hidden;
}

ion-list.form_list {
    margin-right: -16px !important;
    ion-item {
        --padding-start: 0;
        --padding-end: 0;
    }
}

ion-list.form_list.ios {
    margin-right: -5px !important;
}

.acnt_login {
    overflow: hidden;
}

ion-content form ion-item {
    margin-bottom: 5px;
}

ion-datetime {
    button {
        background: #f3f3f3;
        --margin-right: 16px;
        border-radius: 35px;
    }
}

ion-content form ion-input,
ion-content form ion-datetime {
    background-color: #f3f3f3 !important;
    border-radius: 35px !important;
    padding: 10px;
    text-align: center;
    border: none;
    font-family: "Conv_SF-Pro-Display-Light" !important;
    font-weight: 300;
    color: #000 !important;
    width: 100% !important;
    max-width: 100%;
}

ion-content form ion-input.bg_wt,
ion-content form ion-select.bg_wt {
    background: #fff !important;
    border: 1px solid #bebebe !important;
}

ion-content form ion-datetime {
    background: url("/assets/input_clndr_icon.svg") no-repeat 95%;
    height: 55px;
    // border: 1px solid #ddd;
}

ion-item.select_box .d_box {
    position: relative;
    width: 100%;
    overflow-x: hidden !important;
    ion-select {
        max-width: 100%;
        --highlight-color-focused: none !important;
        --background-activated: transparent;
        --background-focused: none !important;
        text-align: center;
        height: 55px !important;
        line-height: 28px;
        color: rgba(0, 0, 0, 0.8) !important;
        background-color: #f3f3f3 !important;
        border-radius: 35px !important;
        padding-right: 10px;
        display: flex;
        align-items: center;
    }
    ion-label {
        top: -8px;
    }
}

ion-item {
    &.item-has-value.select_box .d_box ion-select {
        background-color: #fff !important;
        border: 1px solid #ddd;
    }
}

ion-item {
    --highlight-color-focused: none !important;
    --background-activated: transparent;
    --background-focused: none !important;
}

ion-item.select_box {
    ion-label {
        z-index: 0 !important;
    }
}

.acnt_login ion-item ion-label {
    text-align: center;
    z-index: 9;
    transform-origin: center top !important;
    margin-bottom: -7px !important;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.4) !important;
    font-weight: normal;
    top: 0;
    font-family: "Conv_SF-Pro-Display-Light" !important;
}

ion-item.item-has-focus ion-label {
    background: #fff;
    padding: 0px 10px;
    max-width: inherit !important;
    display: inline-block !important;
    align-self: inherit !important;
    margin: 0px auto 0px !important;
}

ion-content ion-label {
    &:focus {
        color: #1453b5 !important;
    }
}

.acnt_login ion-item.item-has-focus ion-input.has-focus {
    border: 1px solid #bebebe;
    background-color: #fff !important;
}

p.forgot_text {
    margin-bottom: 15px;
    text-align: center;
    margin-top: 4px;
    line-height: 22px;
}

p.forgot_text a {
    color: #1453b5;
    font-size: 16px;
}

button.btn.btn_default {
    background: #cbcbcb;
    display: block;
    width: 100%;
    padding: 20px;
    border-radius: 35px;
    font-size: 18px;
    color: #fff;
    opacity: 1;
    font-family: "Conv_CircularStd-Black";
}

p.signUp_text {
    margin: 5px 0px 0px;
    color: #373737;
    font-size: 16px;
    text-align: center;
}

button.btn.btn_default:hover {
    background: #70db58;
}

.blue_section {
    background: #1453b5;
    padding-bottom: 70px;
}

.verify_code label {
    display: block;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    font-family: "Conv_CircularStd-Black";
}

.code_enter {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    min-width: 80%;
    margin: 20px auto 10px;
}

.code_enter .code_alpha {
    display: flex;
    min-width: 45px;
    max-width: 45px;
    height: 58px;
    background: #f2f2f2;
    border: none;
    color: #000;
    text-align: center;
    font-family: "Conv_CircularStd-Black";
    font-size: 22px;
    border-radius: 5px !important;
}

.code_enter .code_alpha+.code_alpha {
    margin-left: 15px;
}

button.btn.green_btn {
    background: #70db58;
}

.verify_code .blue_section {
    padding-top: 50px;
}

.verify_code p.signUp_text {
    margin-top: 25px;
}

.verify_code p.signUp_text a {
    display: block;
    margin-top: -8px;
    text-decoration: underline;
}

p.signUp_text a {
    color: #1453b5;
    font-weight: 800;
}

p.signUp_text {
    margin: 20px 0px 0px;
    color: #373737;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
}

.top_myinfo {
    background: #70db58;
    border-radius: 35px;
    padding: 10px;
    text-align: center;
    margin-bottom: 30px;
    font-family: "Conv_CircularStd-Black";
    font-size: 18px;
    color: #fff;
}

.or_seprate {
    position: relative;
    display: block;
    width: 80%;
    margin: 0px auto 20px;
    text-align: center;
}

.or_seprate::after {
    position: absolute;
    top: 50%;
    content: "";
    transform: translateY(-50%);
    background: #eeeeee;
    width: 100%;
    left: 0px;
    height: 3px;
}

.or_seprate span {
    color: #373737;
    position: relative;
    z-index: 8;
    display: inline-block;
    font-size: 18px;
    background: #fff;
    padding: 0px 12px;
}

.signup_manually .top_heading {
    color: #373737;
    text-align: center;
    font-size: 18px;
    font-family: "Conv_CircularStd-Black";
    font-weight: 400;
}

.top_heading {
    font-weight: 400;
    font-size: 26px;
    line-height: 28px;
    margin: -5px 0px 0px;
    font-family: "Conv_CircularStd-Black";
}

.manually_option {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.option_box {
    display: flex;
    position: relative;
}

.option_box a {
    background: #eeeeee;
    min-width: 130px;
    height: 130px;
    max-width: 130px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #8a8a8a;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    transition: 0.4s all ease;
    letter-spacing: 1px;
}

.option_box a.active {
    background: #70db58;
    color: #fff;
}

.option_box a.active span img {
    filter: contrast(100%) brightness(100%);
}

.option_box span img {
    filter: contrast(0%) brightness(120%);
}

.option_box a p {
    margin: 10px 0px 0px;
    line-height: 18px;
}

.option_box a.active~.tick_icon {
    opacity: 1;
}

.tick_icon {
    background: #70db58;
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -13px;
    left: 0px;
    right: 0px;
    margin: auto;
    opacity: 0;
}

.register_page .blue_section {
    padding-top: 100px;
}

.wrap-input100 {
    width: 100%;
    position: relative;
    margin-bottom: 25px;
}

.top_myinfo img {
    vertical-align: middle;
}

.header ion-buttons.back_btn {
    left: 12px;
    top: 16px;
}

.blue_section ion-buttons.back_btn {
    left: 12px;
    top: 16px;
    color: #fff;
}

.padding10 {
    padding-top: 10px !important;
}

.blue_section .back_btn {
    font-size: 26px;
    margin-left: 16px;
    &:focus {
        outline: none;
    }
}

.create_account .blue_section {
    padding-bottom: 50px;
}

.mt-25 {
    margin-top: 25px !important;
}

ion-content.create_account ion-item {
    overflow: visible;
}

ion-content.create_account ion-item ion-label {
    position: absolute;
    top: -15px;
    margin: auto;
    text-align: center;
    display: inline-block;
    left: 0px;
    right: 0px;
    line-height: 22px;
    font-weight: 500;
}

ion-content.create_account ion-item ion-label span {
    background: #f3f3f3;
    color: #31323d;
    font-size: 14px;
    padding: 2px 20px;
    border-radius: 25px;
    border: 2px solid #fff;
    display: inline-block;
    white-space: nowrap;
}

.stepper {
    background-color: #f3f3f3 !important;
    border-radius: 35px !important;
    padding: 0px 10px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

ion-text {
    width: 100%;
}

.length_text {
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 600;
    margin: 20px 0px -15px;
}

.radio_group ion-radio-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.radio_group ion-radio-group ion-item {
    min-width: 48%;
    max-width: 48%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 35px;
    background: transparent;
    overflow: hidden;
}

ion-content.create_account ion-radio-group ion-item ion-label {
    top: -4px;
    position: relative;
    margin-top: 0px;
    display: flex;
    order: 2;
}

ion-content.create_account ion-radio-group ion-item ion-radio {
    margin: 0px;
    order: 1;
    display: flex;
}

ion-content.create_account ion-radio-group ion-item.item-radio-checked {
    border-color: #70db58;
}

ion-content.create_account ion-radio-group ion-item.item-radio-checked ion-label {
    color: #70db58 !important;
}

ion-content form ion-input.file_upload {
    position: relative;
}

ion-content form ion-input.file_upload {
    position: absolute;
    width: 100% !important;
    z-index: 9;
    opacity: 0;
}

ion-content form ion-input.file_upload~.file_upload_section {
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 5;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 35px !important;
    padding: 0px 10px;
    border: 1px dashed #939393;
    color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 54px;
}

ion-content form ion-input.file_upload~.file_upload_section img {
    margin-left: 10px;
}

.congo_main_div {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 90;
    background: rgba(0, 0, 0, 0.6);
}

.congo_text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    background: #fff;
    padding: 25px;
    left: 0px;
    right: 0px;
    margin: auto;
    text-align: center;
    width: 280px;
    box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.congo_text h3 {
    color: #70db58;
    font-size: 24px;
    font-weight: 500;
    margin-top: 0px;
}

.congo_text p {
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 300;
}

a.ok_btn {
    background: #70db58;
    padding: 10px 50px;
    display: inline-block;
    margin: 0px 0px 0px;
    border-radius: 35px;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
}

.radius_part {
    background: #fff;
    border-radius: 35px 35px 0px 0px;
    margin-top: 20px;
    padding: 0px 16px 30px 16px;
}

.main_section {
    background: #1553b5;
}

ion-content.create_account .loan_calculate ion-item {
    display: flex;
    flex-direction: column;
}

ion-content.create_account .loan_calculate ion-item ion-label {
    top: auto;
    position: relative;
}

.radius_part ion-item {
    display: flex;
    flex-direction: column;
}

.radius_part ion-label {
    display: block !important;
    text-align: center;
    max-width: 100% !important;
    font-size: 22px;
    font-family: "Conv_CircularStd-Black";
}

.radius_part ion-input {
    display: block;
    text-align: center;
    width: 100%;
    background-color: #f3f3f3 !important;
    border-radius: 35px !important;
    padding: 0px 10px;
    margin-top: 10px;
}

.radius_part ion-range {
    padding: 0px 7px;
}

.total_repay {
    margin-top: 60px;
}

.repay_part {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.repay_part span {
    min-width: 48%;
    max-width: 50%;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
}

.repay_part+.repay_part {
    margin-top: 15px;
}

.range-knob {
    background: #000;
}

.header ion-title {
    font-weight: 400;
    font-size: 26px;
    line-height: 28px;
    margin: 21px 0px 0px;
    font-family: "Conv_CircularStd-Black";
}

.tabs {
    border-radius: 5px;
    overflow: hidden;
    padding-top: 16px;
}

.tabs input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.tab {
    width: 100%;
    color: white;
    overflow: hidden;
}

.tab+.tab {
    margin-top: 25px;
}

.tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: #f3f3f3;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px 5px 0px 0px;
    /* Icon */
    color: rgba(0, 0, 0, 0.4);
    font-size: 18px;
}

.tab-label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
}

.tab-content {
    max-height: 0;
    padding: 0 1em;
    color: #fff;
    background: #f3f3f3;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    overflow: hidden;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    ion-list {
        background: #f3f3f3;
        padding-bottom: 0;
        ion-item {
            --padding-inline-end: 0;
            ion-label {
                text-align: left;
            }
            &:last-child {
                border-bottom: 0 !important;
            }
        }
    }
}

.mt-0 {
    margin-top: 0;
}

.tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: #2c3e50;
    cursor: pointer;
}

input:checked+.tab-label::after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

input:checked+.tab-label {
    color: #000;
}

input:checked~.tab-content {
    max-height: 100vh;
    padding: 1em;
    position: relative;
}

input:checked~.tab-content::after {
    position: absolute;
    z-index: 9;
    content: "";
    top: 0px;
    left: 15px;
    right: 15px;
    background: rgba(255, 255, 255, 0.2);
    height: 1px;
}

ul.notifiction_detail {
    background: #fff;
    border-radius: 35px 35px 0px 0px;
    padding: 0px;
    margin: 0;
}

ul.notifiction_detail li {
    padding: 18px 25px;
    display: block;
    list-style-type: none;
}

ul.notifiction_detail li a {
    display: block;
}

ul.notifiction_detail li a span {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 4px;
    display: block;
}

ul.notifiction_detail li.active span {
    color: #22a04c;
}

ul.notifiction_detail li a p {
    margin-bottom: 0px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 24px;
}

ul.notifiction_detail li.active p {
    color: rgba(0, 0, 0, 0.8);
}

ul.notifiction_detail li+li {
    border-top: 8px solid #eeeeee;
}

.radius_part.notifi_page {
    padding-left: 0px;
    padding-right: 0px;
}

.payment_schedule h4 {
    margin-bottom: 0px;
    color: #000;
    font-size: 22px;
    font-weight: 400;
    font-family: "Conv_CircularStd-Black";
}

.payment_schedule p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0px 0px;
}

ul.payment_detail {
    margin-top: 5px;
    padding: 0px;
}

ul.payment_detail li {
    list-style-type: none;
}

ul.payment_detail li a {
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
}

ul.payment_detail li a img {
    filter: contrast(0%) brightness(120%);
    transform: rotate(-90deg);
    margin: 9px 0px 0px;
    float: right;
}

ul.payment_detail li+li {
    margin-top: 7px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 7px;
}

.payment_schedule {
    padding-top: 10px;
    display: block;
}

ul.payment_repayment {
    padding: 0 0 0 16px;
    margin: 0px;
}

ul.payment_repayment li {
    color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    margin-left: 20px;
    padding-bottom: 10px;
}

ion-menu-button {
    color: #fff;
}

.p-0 {
    padding: 0;
}

ul.payment_repayment li::before {
    position: absolute;
    content: "";
    top: 15px;
    left: -33px;
    bottom: 0px;
    border-left: 1px dashed #bbbbbb;
}

ul.payment_repayment li.active::before {
    border-color: #22a04c;
}

ul.payment_repayment li::after {
    position: absolute;
    content: "";
    top: 7px;
    left: -40px;
    width: 15px;
    height: 15px;
    background: red;
    border-radius: 50%;
}

ul.payment_repayment li.pending::after {
    background: #fc6d00;
}

ul.payment_repayment li {
    .status {
        color: red;
        text-transform: capitalize;
    }
    &.pending .status {
        color: #fc6d00;
    }
}

ul.payment_repayment li div {
    max-width: 48%;
    min-width: 48%;
    margin-bottom: 10px;
}

ul.payment_repayment li div span {
    color: #22a04c;
    font-size: 13px;
    font-family: "Conv_SF-Pro-Display-Medium";
    text-transform: uppercase;
    opacity: 0.5;
}

ul.payment_repayment li div p {
    margin-bottom: 0px;
    font-size: 15px;
    font-family: "Conv_SF-Pro-Display-Medium";
    line-height: 20px;
    margin-top: 2px;
}

ul.payment_repayment li+li::after {
    top: 18px;
}

ul.payment_repayment li+li::before {
    top: 0px;
}

ul.payment_repayment li+li {
    padding-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

a.dwnld_rcpt {
    background: #70db58;
    color: #fff;
    font-size: 14px;
    display: inline-block;
    padding: 4px 20px;
    border-radius: 25px;
    margin-top: 10px;
    font-family: "Conv_CircularStd-Black";
    transition: 0.4s all ease;
    white-space: nowrap;
}

a.dwnld_rcpt:hover {
    text-decoration: none;
    background: #1453b5;
}

.bottom_btn {
    position: fixed;
    bottom: 0px;
    background: #fff;
    padding: 10px 30px;
    left: 0px;
    right: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 9;
}

a.request_soa {
    display: block;
    background: #70db58;
    border-radius: 25px;
    text-align: center;
    padding: 12px 10px;
    font-size: 18px;
    font-family: "Conv_CircularStd-Black";
    transition: 0.4s all ease;
    color: #fff;
}

a.request_soa:hover {
    text-decoration: none;
    background: #1453b5;
}

.top_detail_account {
    text-align: center;
    padding: 40px 0px 10px;
    background: #1553b5;
}

.acnt_no span {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    display: block;
    margin: 0px;
    font-family: "Conv_CircularStd-Black";
}

.acnt_no p {
    margin-bottom: 0px;
    font-family: "Conv_CircularStd-Black";
    color: #fff;
    font-size: 22px;
    margin-top: 0px;
}

.acnt_no+.acnt_no {
    margin-top: 15px;
}

ul.payment_repayment.emi_detail_section li::after {
    background: #ff0000;
}

ul.emi_detail_section li {
    flex-direction: column;
    align-items: flex-start;
}

p.install {
    width: 100%;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.4);
    margin-top: 0px;
}

p.install b {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    margin-left: 10px;
}

ul.emi_detail_section li .emi_detail {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    min-width: 100%;
}

ul.payment_repayment.emi_detail_section li span.overdue {
    color: #ff0000;
    font-size: 18px;
    text-transform: inherit;
    opacity: 1;
}

ul.payment_repayment.emi_detail_section li.pending::after {
    background: #fc6d00;
}

ul.payment_repayment.emi_detail_section li span.pending {
    color: #fc6d00;
    font-size: 18px;
    text-transform: inherit;
    opacity: 1;
}

form.generate_pdf ion-datetime {
    border-radius: 35px !important;
    padding: 10px;
    text-align: center;
    border: none;
    height: 56px;
    font-family: "Conv_SF-Pro-Display-Light" !important;
    font-weight: 300;
    width: 100% !important;
    max-width: 100%;
    color: rgba(0, 0, 0, 0.4) !important;
    background: url("/assets/input_clndr_icon.svg") no-repeat 95% !important;
}

.adress_section {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.adress_section div {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.adress_section div span.icons {
    min-width: 35px;
    margin-top: 2px;
}

.adress_section div span,
.adress_section div span a {
    color: rgba(25, 22, 22, 0.7);
    font-size: 14px;
    font-family: "Conv_SF-Pro-Display-Medium";
    line-height: 23px;
    text-decoration: none;
}

.adress_section div+div {
    margin-top: 10px;
}

.radius_part.address_cntct {
    padding-right: 0px;
    padding-left: 0px;
}

.payment_qr_detail {
    text-align: center;
    padding: 20px 0px 0px;
}

.payment_qr_detail h3 {
    display: block;
    color: #000;
    font-size: 22px;
    text-align: center;
    margin: 0px 0px 30px;
    font-weight: 300;
    font-family: "Conv_CircularStd-Black";
}

.payment_qr_detail span {
    display: block;
    margin-bottom: 30px;
}

.payment_qr_detail p {
    margin-bottom: 0px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 18px;
    line-height: 26px;
}

.payment_qr_detail a.request_soa {
    margin: 20px 0px 20px;
    display: inline-block;
    padding: 12px 30px;
}

.about_text p {
    margin-bottom: 0px;
    color: #616161;
    font-size: 18px;
    line-height: 26px;
}

.about_text p+p {
    margin-top: 15px;
}

.about_text {
    padding-top: 10px;
}

.form_login {
    ion-item {
        --background: transparent;
        position: relative;
        height: 55px;
        --min-height: 55px;
        margin-bottom: 22px;
        overflow: visible;
        &.pb_18 {
            padding-bottom: 10px;
        }
        ion-input {
            --padding-start: 16px !important;
            --padding-end: 16px !important;
            border: 1px solid #fff !important;
            --padding-top: 12px !important;
            --padding-bottom: 12px !important;
            border-radius: 35px !important;
            height: 56px;
            min-height: 56px;
        }
        ion-label {
            top: -11px;
        }
        &.item-has-value,
        &.item-has-focus {
            ion-label {
                background: #ffffff;
                padding: 0 10px;
                color: #1453b5 !important;
                z-index: 9;
                top: -9px;
                font-size: 20px !important;
                opacity: 1 !important;
            }
            ion-input,
            ion-datetime {
                background-color: #fff !important;
                border: 1px solid #ddd !important;
            }
            ion-datetime {
                line-height: 30px;
            }
        }
        &.error {
            ion-input {
                border: 1px solid red !important;
            }
        }
        ion-label {
            position: absolute;
        }
    }
    .btn_submit {
        padding: 0 9px 30px 16px;
        text-align: right;
        a {
            font-size: 12px;
            color: #30c1df;
        }
        ion-button {
            margin: 20px 0 0 0;
            --border-radius: 30px;
        }
    }
}

.form_login {
    ion-item.md {
        margin-bottom: 0px;
        --inner-padding-end: 16px;
        height: auto;
        --vertical-align: top;
        --padding-top: 0px;
        --inner-padding-top: 0px;
        ion-input {
            margin: 0px;
        }
        ion-label {
            top: -2px;
        }
    }
    ion-item.md {
        &.item-has-value,
        &.item-has-focus{
            ion-label {
                top: -20px;
            }
        }
    }
}

.item_center {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 12px;
}

.form_login ion-item.mb-0 {
    margin-bottom: 6px;
}

.tdn {
    text-decoration: none;
}

.button-round {
    height: 55px;
}

ion-header {
    ion-toolbar {
        position: relative;
        ion-buttons {
            position: absolute;
            left: 0px;
            top: 50% !important;
            transform: translateY(-50%) !important;
        }
        ion-title {
            text-align: center;
            padding-inline-end: 0px;
        }
        .back_btn {
            font-size: 26px;
            margin-left: 16px;
            &:focus {
                outline: none;
            }
        }
    }
}

.fixed_label_item {
    margin-top: 30px;
}

.blue_section.inner_section {
    padding-bottom: 48px;
}

.fixed_label {
    margin: 0;
    position: absolute;
    z-index: 99;
    background: #f3f3f3;
    padding: 3px 20px;
    border-radius: 30px;
    top: -12px;
    border: 1px solid #fff;
    font-size: 14px;
}

.sub_heading {
    margin-bottom: 6px !important;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
    line-height: 25px;
    height: auto !important;
    --min-height: auto !important;
    &._m {
        margin-bottom: 2px !important;
    }
    div {
        display: block;
        text-align: center;
        min-width: 100%;
    }
}

.form_list {
    margin-right: -16px;
    ion-item {
        --padding-strart: 0;
    }
}

.attach_file {
    border: 1px dashed #707070;
    border-radius: 35px;
    margin-right: 16px;
    margin-bottom: 10px !important;
    &.mt_34 {
        margin-top: 34px !important;
    }
    ion-input {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 11;
        opacity: 0;
    }
    .icon {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        z-index: 10;
        top: 15px;
        color: #a5a5a5;
        font-weight: 300;
        display: flex;
        ion-icon {
            -webkit-transform: rotate(60deg);
            transform: rotate(39deg);
            margin-left: 5px;
            margin-top: 2px;
        }
    }
}

.mb-4 {
    margin-bottom: 4px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

ion-radio-group {
    display: flex;
    margin-right: 16px;
    ion-item {
        width: 50%;
        border: 1px solid #ddd;
        border-radius: 35px;
        padding: 0 15px;
        margin-bottom: 6px !important;
        &:first-child {
            margin-right: 16px;
        }
        ion-label {
            position: static !important;
            margin: 0;
            z-index: inherit !important;
        }
    }
}

.form_login {
    ion-radio-group {
        ion-item {
            ion-label {
                margin-bottom: 0 !important;
            }
        }
    }
}

.list_wb {
    ion-item {
        --padding-start: 0;
        color: rgba(0, 0, 0, 0.6);
        &.m-0 {
            margin: 0 !important;
        }
        ion-label {
            position: static !important;
        }
    }
}

h2 {
    font-size: 22px;
    margin-top: 10px;
}

.sub_title {
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 0;
}

ion-button {
    &.button-round {
        height: 55px;
        padding: 0;
        font-size: 16px;
    }
}

accordion-group {
    .caret {
        background: url("/assets/forward.svg") center center;
        height: 22px;
        width: 22px;
        background-repeat: no-repeat;
        margin-top: 0px;
        margin-left: auto;
    }
    .dropup {
        .caret {
            filter: invert(1);
        }
    }
    .panel-default {
        background: #f3f3f3;
        border-radius: 4px;
        padding: 16px;
        margin-bottom: 16px;
    }
    h4 {
        font-size: 16px;
        color: #000;
        margin: 0;
        font-family: "Conv_SF-Pro-Display-Light";
        position: relative;
        display: flex;
        a {
            font-family: "Conv_SF-Pro-Display-Light";
            color: #000;
            line-height: 26px;
        }
    }
    .panel-default.dropup {
        background: #1453b5;
        h4 a {
            color: #fff;
        }
        .caret {
            transform: rotate(90deg);
        }
    }
    .panel-body {
        font-family: "Conv_SF-Pro-Display-Light";
        line-height: 26px;
        color: #fff;
        font-weight: normal;
        border-top: 1px solid #6f8ebd;
        margin-top: 16px;
        padding-top: 16px;
    }
}

ion-title {
    padding-left: 0;
}

ion-item {
    --highlight-height: 0 !important;
    --ion-color-light: transparent;
    --ion-color-light-shade: none;
    --ion-item-background: transparent;
    --ion-item-background-activated: transparent;
}

.button-disabled {
    --opacity: 1;
    pointer-events: none;
    --ion-color-base: #cbcbcb !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.heading {
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
}

.confirm-dialog {
    --width: 300px;
    --height: 400px;
}

.alert_box {
    .alert-wrapper {
        text-align: center !important;
        border-radius: 20px;
        --max-width: 300px;
    }
    &.text-red {
        h2 {
            color: red !important;
        }
        .alert-button {
            background: #e44747 !important;
        }
    }
    &.text-green {
        h2 {
            color: #70db58 !important;
        }
        .alert-button {
            background: #70db58 !important;
        }
    }
    .alert-head {
        text-align: center !important;
    }
    .alert-button-group {
        justify-content: center !important;
        margin: 15px 0;
    }
    .alert-message {
        padding-bottom: 0 !important;
        line-height: 25px !important;
    }
    .alert-button {
        padding: 10px !important;
        color: #fff !important;
        min-width: 100px !important;
        text-align: center !important;
        border-radius: 30px !important;
        .alert-button-inner {
            justify-content: center !important;
        }
    }
}

.ps_notmatched {
    font-size: 13px;
    margin-bottom: 0;
    margin-top: 2px;
    text-align: center;
    color: red;
    font-weight: normal;
    display: block;
    width: 100%;
}

.range-md .range-knob-handle .range-pin {
    transform: translate3d(0, 0, 0) scale(1);
}

.range-md:not(.range-has-pin) .range-knob-handle .range-knob {
    transform: scale(1);
}

.range-ios .range-knob-handle .range-pin {
    transform: translate3d(0, 0, 0) scale(1);
}

.range-md .range-pin {
    color: #252525;
    top: 26px;
    background: transparent;
}

.alert-input-wrapper {
    height: 46px;
}

.alert-input {
    border: 1px solid #f3f3f3 !important;
    padding: 10px 16px !important;
    height: 48px;
    border-radius: 25px;
    background: #f3f3f3 !important;
}

.input_list {
    .alert-head {
        border-bottom: 1px solid #ddd;
    }
    .alert-input-group {
        padding: 20px 16px;
    }
}

.alert-title {
    font-size: 18px;
}

.custom_modal {
    .modal-wrapper {
        max-width: 300px;
        height: auto;
        min-height: 304px;
        border-radius: 22px;
        margin: 0 30px;
        h4 {
            color: #70DB58;
            margin-bottom: 0;
        }
    }
}

.native-input[disabled],
.item-interactive-disabled:not(.item-multiple-inputs) {
    opacity: 1 !important;
}

.text-dark .alert-message {
    border-top: 1px solid #ddd;
    padding-top: 10px !important;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px !important;
}

.alert_box.text-dark .alert-button-group {
    margin: 0
}

.alert_box.text-dark .alert-button {
    color: #000 !important;
}

.li-ionic4-datePicker {
    .modal-wrapper {
        height: 470px;
        max-height: 100%;
        width: 312px;
    }
}

.date_picker {
    position: relative;
    img {
        position: absolute;
        right: 34px;
        top: 32px;
        z-index: 10;
    }
}
.unlinenone{
    text-decoration: none;
}
.hiddenclickbtn{
    visibility: hidden;
    height:1px !important;
    width:1px !important;
}
.fullwidth{
    width: 100% !important;
}
ion-buttons.back_btn.backiflogin {
    left: auto;
    right: 10px;
}
.menubuttoniflogin{
    justify-content: space-between;
}
.backicon{
      margin-left: 0px;
        margin-right: 15px;
    

}
.paddingb15{
    padding-bottom: 15px !important;
}

ion-item.item-has-value .resi_adrs p ~ ion-label, ion-item.item-has-focus .resi_adrs p ~  ion-label{
    z-index: -1 !important;
}

@media (min-width:1025px) {
    .my-custom-alert {
      .alert-wrapper {
        min-width: 450px !important;
      }
    }
}