.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
.banner {
  padding-top:10px;
  img {
    margin-bottom: -10px;
  }
}
ion-grid {
  &.login_b{
    margin:3px 0;
  }
  &.home_list {
    padding-bottom: 0;
    padding-top: 0;
    &.top_ft{
      margin-top:-70px;
    }
    button {
      width: 100%;
      height: 100%;
      padding: 30px 10px;
      background: #fff;
      border-radius: 3px;
      height: 100%;
      p {
        margin-bottom: 0;
        font-size: 16px;
        color: #1553b5;
      }
      &:focus {
        outline: none;
      }
    }
  }
  div {
    position: relative;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    height: 100%;
    border-radius: 3px;
    overflow: hidden;
  }
  ion-col:nth-child(odd) {
    padding-right: 10px;
    padding-bottom: 0;
  }
  ion-col:nth-child(even) {
    padding-left: 10px;
    padding-bottom: 0;
  }
  .login_ft {
    padding-right: 6px !important;
    padding-top: 0;
    margin-bottom: 6px;
    margin-top: -6px;
    ion-button {
      img {
        margin-right: 10px;
      }
      height: 70px;
      font-size: 16px;
      margin: 0;
    }
  }
}

// ::ng-deep{
//   ion-menu.show-menu{
//     display: none;
//   }
// }