<ion-header>
    <ion-toolbar>
        <ion-buttons routerLink="/signup/register-step" class="back_btn" slot="start">
            <ion-icon name="arrow-back"></ion-icon>
        </ion-buttons>
        <ion-title>Create Account</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="acunt_login_part">
        <div class="container">
            <div class="blue_section inner_section">
            </div>
        </div>
        <!--   | slice:start:end -->
        <div class="form_login">
            <form class="acnt_login" #f="ngForm">
                <ion-list class="form_list" lines="none">
                    <ng-container *ngFor="let item of formFieldsList | slice:start:end" [ngSwitch]="item.type">
                        <ion-item [class.fixed_label_item]="item.slug == 'residential_address_one'" *ngSwitchCase="'text'">
                            <div class="item_center">
                                <p *ngIf="item.slug == 'residential_address_one'" class="fixed_label">Residential Address</p>
                                
                                <ion-label position="floating">{{item.title}}</ion-label>
                            </div>
                            <ion-input [disabled]="item.slug == 'years_of_stay'" (keyup)="checknumber(item.modal,item.slug)" name="{{item.slug}}" [(ngModel)]="item.modal" type="text" required></ion-input>
                            <p class="ps_notmatched" *ngIf="!isValidPostal && item.title == 'Postal Code'">Postal Code is not valid</p>
                            <ion-button class="add_btn" (click)="addMore(1, item)" *ngIf="item.slug == 'years_of_stay'" color="light">
                                <ion-icon name="add"></ion-icon>
                            </ion-button>
                            <ion-button class="add_btn right" (click)="addMore(2, item)" *ngIf="item.slug == 'years_of_stay'" color="light">
                                <ion-icon name="remove"></ion-icon>
                            </ion-button>
                            
                        </ion-item>
                        <p class="ps_notmatched" *ngIf="isValidphone1 == 'invalid' && item.slug == 'phone'">Phone is not valid</p>
                        <ion-item *ngSwitchCase="'number'" [class.error]="isphoneexist && item.slug == 'phone'">
                            <div class="item_center">
                                <ion-label position="floating">{{item.title}}</ion-label>
                            </div>
                            <ion-input name="{{item.slug}}" [(ngModel)]="item.modal" type="number" required></ion-input>
                            
                                            

                        </ion-item>
                        <ion-item *ngSwitchCase="'email'"  [class.error]="isMailIdExist">
                            <div class="item_center">
                                <ion-label position="floating">{{item.title}}</ion-label>
                            </div>
                            <ion-input name="{{item.slug}}" (ngModelChange)="checkMail(item.modal)" pattern='^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$' [disabled]="emailEdit" [(ngModel)]="item.modal" type="email" required></ion-input>
                        </ion-item>
                        <p class="ps_notmatched" *ngIf="isValidMail && item.slug == 'email'">Email Address is not valid</p>
                        <ng-container *ngSwitchCase="'password'">
                            <ion-item>
                                <div class="item_center">
                                    <ion-label position="floating">{{item.title}}</ion-label>
                                </div>
                                <ion-input name="{{item.slug}}" [(ngModel)]="item.modal" type="password" required></ion-input>
                            </ion-item>
                            <ion-item>
                                <div class="item_center">
                                    <ion-label position="floating">Confirm Password</ion-label>
                                </div>
                                <ion-input name="confirmPassword" (ngModelChange)="passwordCompaire(item.modal, $event)" [(ngModel)]="confirmPassword" type="password" required></ion-input>
                            </ion-item>
                            <p class="ps_notmatched" *ngIf="isPasswordMatched && isShow">Password and confirm password does not match</p>
                        </ng-container>

                        <ion-item *ngSwitchCase="'dropdown'" class="select_box">
                            <div class="d_box">
                                <div class="item_center">
                                    <ion-label position="floating">{{item.title}}</ion-label>
                                </div>
                                <ion-select name="{{item.title}}" [(ngModel)]="item.modal" required>
                                    <ion-select-option *ngFor="let list of item.value" [value]="list.id">{{list.name}}</ion-select-option>
                                </ion-select>
                            </div>
                        </ion-item>

                        <ion-item *ngSwitchCase="'date'" class="date_picker">
                            <div class="item_center">
                                <ion-label position="floating">Date Of Birth</ion-label>
                            </div>
                          <!--   <img  (click)="openDatePicker()"src="assets/edit.png"> -->
                                           
                          <ion-datetime [(ngModel)]="item.modal" name="dob" displayFormat="DD-MM-YYYY"  max="2020-12-09" required></ion-datetime>
                        </ion-item>
                    </ng-container>
                </ion-list>
                <div class="form-group mb-0" *ngIf="formFieldsList?.length > 0">
                    <ion-button (click)="registerUser()" [disabled]="f.invalid || isValidphone1 == 'invalid' || !isValidPostal" shape="round" color="success" expand="block">Register
                    </ion-button>
                </div>
            </form>
        </div>
    </div>
</ion-content>